.btn__area .menu__line {
  @media screen and(max-width: 1024px) {
    background: #fff;
  }
}

.mask {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.ise1__card {
  //整塊顯示區域
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56%;
  overflow: hidden;
  z-index: 10;
  @media screen and(max-width: 1024px) {
    padding-bottom: 100%;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 170%;
  }
}

.ise1__card-img {
  //slide線條背景圖
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56%;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
  //border: 1px solid #f00;
  @media screen and(max-width: 1024px) {
    padding-bottom: 70%;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 95%;
  }
  .bgc__line {
    //背景的線
    //border: 1px solid #f00;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    object-fit: fill;
  }
}

.index__se1 {
  position: relative;
  z-index: 10;
}

// .slider__line {
//   position: absolute;
//   bottom: 0;
//   left: 63.4vw;
//   width: vw-dsk(10);
//   height: 36.45vw;
//   background-color: #f00;
//   transform: translateY(10px) skew(-30deg);
// }
@keyframes line {
  0% {
    left: 25%;
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    left: 25%;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 30% 100%, 0% 100%);
  }
}

@keyframes line1 {
  0% {
    left: -1%;
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100% {
    left: -1%;
    opacity: 1;
    clip-path: polygon(0 0, 96% 0, 38% 100%, 0% 100%);
  }
}

// @keyframes line2 {
//   0% {
//     left: -2%;
//     opacity: 0;
//     clip-path: polygon(0 0, 85% 0, 85% 0, 0 0);
//   }
//   100% {
//     left: -2%;
//     opacity: 1;
//     clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
//   }
// }
.main__greenLine {
  //綠線區域
  opacity: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 30%;
  left: 25%;
  background-color: $mainColor;
  clip-path: polygon(0 0, 100% 0, 30% 100%, 0% 100%);
  animation: line 4s;
  animation-delay: 4.8s;
  animation-fill-mode: forwards;
  //animation-direction: alternate;
  @media screen and(max-width: 1024px) {
    width: 98%;
    left: -2%;
    top: 30%;
    animation: line1 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    //animation-direction: alternate;
    //0 25%, 100% 24%, 79% 100%, 0% 100%
    clip-path: polygon(0 0, 96% 0, 39% 100%, 0% 100%);
  }
  @media screen and(max-width:767px) {}
}

.main__bgc {
  //slider背景圖區域
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 99%;
  z-index: 3;
  // border: 1px solid #c0c;
  // background-position: center center;
  // background-size: cover;
  clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
  >img {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: fill;
    @media screen and(max-width: 1024px) {
      object-fit: cover;
      height: 99%;
    }
  }
  //box-shadow: 10px 16vw 0px #60ae8a;
  @media screen and(max-width: 1024px) {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0, 100% 15%, 52% 100%, 0% 100%);
  }
  // .bgc {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: fill;
  //   transform: translateX(20vw) skew(30deg);
  //   pointer-events: none;
  //   border: 1px solid #f00;
  // }
}

.main__txt {
  //文字顯示區域
  position: absolute;
  z-index: 13;
  top: 35vw;
  right: 12vw;
  width: 20%;
  @media screen and(max-width: 1024px) {
    top: 75vw;
    width: 80%;
    // &::after {
    //   position: absolute;
    //   content: "";
    //   width: 54vw;
    //   height: 10px;
    //   z-index: 2;
    //   background-color: $mainColor;
    //   top: -5vw;
    //   left: -10.75vw;
    //   transform: skew(-40deg);
    // }
  }
  @media screen and(max-width:767px) {
    top: 105vw;
    // &::after {
    //   width: 55vw;
    //   z-index: 2;
    //   background-color: $mainColor;
    //   top: -10vw;
    //   left: -10.75vw;
    //   transform: skew(-28deg);
    // }
  }
  >.show__item {
    //soccer區域
    font-family: Arial Bold;
    //opacity: 0;
    font-size: vw-dsk(48);
    text-transform: uppercase;
    color: #e1e1e1;
    position: relative;
    //transform: translateY(10px);
    //transition: 0.5s;
    //transition-delay: 0.5s;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(19);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(38);
    }
  }
  >.title {
    color: #191919;
    font-family: "Noto Sans CJ Ktc";
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: vw-dsk(30);
    margin-top: vw-dsk(40);
    margin-bottom: vw-dsk(30);
    //transform: translateY(10px);
    //opacity: 0;
    //transition: 0.5s;
    //transition-delay: 1s;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(9);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(18);
      margin-top: vw-mbl(25);
      margin-bottom: vw-mbl(25);
    }
  }
  >.info {
    color: #4b4b4b;
    font-family: "Noto Sans CJ Ktc";
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 0.8px;
    // transform: translateY(10px);
    //opacity: 0;
    //transition: 0.5s;
    //transition-delay: 1.5s;
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(7);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
    }
  }
}

.ise1_swiper-pagination {
  //border: 1px solid #f00;
  transform: translateX(-18px);
  bottom: -37.5%;
  //left: 70%;
  display: flex;
  @media screen and(max-width: 1024px) {
    left: 80%;
    transform: translateX(0px);
    bottom: 100%;
  }
  @media screen and(max-width: 767px) {
    left: 65%;
    bottom: 115%;
  }
  //border: 1px solid #000;
  span {
    //border: 1px solid #000;
    display: inline-block;
    padding: 15px;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    &::after {
      cursor: pointer;
      position: absolute;
      width: 15px;
      height: 15px;
      content: "";
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #66bf97;
      @media screen and(max-width: 1024px) {
        width: 10px;
        height: 10px;
      }
    }
  }
  .swiper-pagination-bullet-active {
    &::after {
      background-color: #66bf97;
    }
  }
}

.arrow {
  //箭頭
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.ise1-prev {
  //border: 1px solid #f00;
  padding: 15px;
  position: relative;
  cursor: pointer;
  @media screen and(min-width: 1199px) {
    &:hover {
      &::after {
        transform: translateY(-50%) rotate(-45deg) scale(1.2);
        transition: 0.5s;
      }
    }
  }
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    transform: rotate(-45deg) translateY(-50%) scale(1);
    content: "";
    width: 30px;
    height: 30px;
    border-top: 10px solid #66bf97;
    border-left: 10px solid #66bf97;
  }
}

.ise1-next {
  //border: 1px solid #f00;
  padding: 15px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  @media screen and(min-width: 1199px) {
    &:hover {
      &::after {
        transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1.2);
        transition: 0.5s;
      }
    }
  }
  &::after {
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1);
    content: "";
    width: 30px;
    height: 30px;
    border-top: 10px solid #66bf97;
    border-right: 10px solid #66bf97;
  }
}

.people__area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  //background-color: #ccc;
  .ise1__people {
    position: absolute;
    top: 0;
    left: 0;
    //border: 1px solid #000;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // border: 1px solid #f00;
    @media screen and(max-width: 1024px) {
      //border: 1px solid #f00;
    }
  }
  .ise1__ball {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    object-fit: fill;
    opacity: 0;
    //border: 1px solid #000;
    transform: translateY(-50%);
    @media screen and(max-width: 1024px) {
      object-fit: contain;
      //border: 1px solid #000;
      // width: 30%;
      // right: 0%;
      // top: 65%;
    }
  }
}

.mask-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9998;
  @media screen and(max-width: 1024px) {}
  @media screen and(max-width: 767px) {}
}

// .swiper-slide-active {
//   .main__txt {
//     .show__item {
//       transform: translate3d(0, 0, 0);
//       opacity: 1;
//       transition: 1s;
//       transition-delay: 0.5s;
//     }
//     .title {
//       transform: translate3d(0, 0, 0);
//       opacity: 1;
//       transition: 0.5s;
//       transition-delay: 1s;
//     }
//     .info {
//       transform: translate3d(0, 0, 0);
//       opacity: 1;
//       transition: 0.5s;
//       transition-delay: 1s;
//     }
//   }
// }