.index__se2 {
  width: 100%;
  height: 68vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateY(-13px);
  z-index: 2;
  @media screen and(min-width: 1199px) {
    // &::before {
    //   position: absolute;
    //   content: "";
    //   width: 26vw;
    //   height: 5px;
    //   background-color: $mainColor;
    //   z-index: 2;
    //   left: 50%;
    //   transform: translateX(-98.5%) skew(-30deg);
    // }
  }
  @media screen and(max-width: 1024px) {
    height: 60.5vh;
    transform: translateY(0px);
  }
  @media screen and(max-width:767px) {
    // height: 53vh;
  }
}

.black__bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .real__bgc {
    position: absolute;
    width: 96%;
    height: 100%;
    background: linear-gradient(0deg, #26362f 35%, #191919 60%);
    transform: translateX(-10%) skew(-20deg);
    @media screen and(max-width: 1024px) {
      transform: translateX(-20%) skew(-20deg);
    }
  }
}

.ise2 {
  &_swiper-container {
    width: 73%;
    transform: translateY(90px);
    z-index: 3;
    overflow: visible;
    @media screen and(max-width: 1024px) {
      overflow: hidden;
      width: 48%;
      transform: translateY(0px);
      //outline: 5px solid #66bf97;
    }
    @media screen and(max-width:767px) {
      width: 65%;
      position: relative;
      transform: translateY(30px);
    }
  }
  &_swiper-wrapper {}
  &_swiper-slide {
    width: 25%;
    @media screen and(max-width: 1024px) {
      width: 100%;
    }
  }
}

//卡片區域
.ise2__card {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 24vw;
  transition: 0.5s;
  overflow: hidden;
  outline: 0px solid #66bf97;
  @media screen and(min-width: 1199px) {
    &:hover {
      transition: 0.5s;
      outline: 10px solid #66bf97;
      z-index: 2;
      .ise2__img {
        transition: 0.5s;
        transform: scale(1.2);
      }
      @media screen and(max-width: 1024px) {
        transition: 0.3s;
        outline: none;
      }
    }
  }
  @media screen and(max-width: 1024px) {
    padding-bottom: 70vw;
    border: 5px solid #66bf97;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 89vw;
  }
  //背景圖區域
  .ise2__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    transition: 0.5s;
    transform: scale(1);
  }
  //文字區域
  .img__txt {
    width: 70%;
    z-index: 2;
    position: absolute;
    // border: 1px solid #f00;
    left: 50%;
    top: 16.5vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(max-width: 1024px) {
      top: 45vw;
    }
    @media screen and(max-width: 767px) {
      top: 45vw;
    }
  }
  .img__title {
    font-family: "Noto Sans CJ Ktc";
    margin-top: vw-dsk(20);
    font-size: vw-dsk(24);
    color: #fafafa;
    font-weight: 700;
    letter-spacing: 1.2px;
    @media screen and(max-width: 1024px) {
      margin-top: vw-mbl(10);
      font-size: vw-mbl(9);
      letter-spacing: 0.9px;
      line-height: 1.2;
    }
    @media screen and(max-width:767px) {
      margin-top: vw-mbl(20);
      font-size: vw-mbl(18);
    }
  }
}

//選項區域
.ise2__items {
  position: relative;
  margin: 0 auto;
  width: 76vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: vw-dsk(40);
  background-color: #fff;
  height: vw-dsk(160);
  transform: translateY(90px);
  z-index: 2;
  box-shadow: 5vw 5vw 5vw -3vw rgba(#000, 1);
  @media screen and(max-width: 1024px) {
    position: absolute;
    top: 88%;
    width: 55vw;
    left: 50%;
    transform: translateX(-50%);
    //border: 1px solid #000;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vw;
    //border: 1px solid #000;
  }
  @media screen and(max-width: 767px) {
    position: absolute;
    top: 94%;
    width: 80vw;
    z-index: 2;
    height: 150vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  >.ise2__txtshow {
    width: 25%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    // border: 1px solid #000;
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 85px;
      background-color: #afafaf;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @media screen and(max-width: 1024px) {
        top: 125%;
        width: 100%;
        height: 1px;
        right: 50%;
        transform: translateX(50%);
      }
      @media screen and(max-width: 767px) {
        background-color: #afafaf;
        width: 100%;
        top: 150%;
      }
    }
    @include last-child() {
      &::after {
        background-color: transparent;
      }
    }
    @media screen and(max-width:1024px) {
      width: 75%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0 auto;
    }
    @media screen and(max-width: 767px) {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .ise2__txt {
    margin: 0 auto;
    //border: 1px solid #000;
    width: 63%;
    @media screen and(max-width: 1024px) {
      width: 80%;
    }
    @media screen and(max-width:767px) {
      width: 100%;
    }
    >.title {
      //下面選項標題部分
      margin-bottom: 10px;
      >.num {
        color: $mainColor;
        font-size: vw-dsk(36);
        font-family: "Arial Bold";
        font-weight: 700;
        @media screen and(max-width: 1024px) {
          font-size: vw-mbl(18);
        }
        @media screen and(max-width: 767px) {
          font-size: vw-mbl(36);
        }
      }
      >.unit {
        font-family: "Noto Sans CJ Ktc";
        font-size: vw-dsk(30);
        color: #191919;
        font-weight: 700;
        letter-spacing: 1.5px;
        @media screen and(max-width: 1024px) {
          font-size: vw-mbl(15);
        }
        @media screen and(max-width: 767px) {
          font-size: vw-mbl(30);
        }
      }
    }
    >.info {
      //內文部分
      font-family: "Noto Sans CJ Ktc";
      color: #323232;
      font-size: vw-dsk(18);
      letter-spacing: 1px;
      letter-spacing: 0.9px;
      text-align: center;
      @media screen and(max-width: 1024px) {
        font-size: vw-mbl(9);
      }
      @media screen and(max-width: 767px) {
        font-size: vw-mbl(18);
      }
    }
  }
}

//手機按鈕
.ise2__btn {
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  //border: 1px solid #f00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  @media screen and(max-width: 767px) {
    width: 95%;
    top: 47%;
  }
  .ise2-prev {
    padding: 15px;
    position: relative;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotate(-45deg) translateY(-50%);
      content: "";
      width: 20px;
      height: 20px;
      border-top: 5px solid #fafafa;
      border-left: 5px solid #fafafa;
    }
  }
  .ise2-next {
    padding: 15px;
    position: relative;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%) rotate(45deg);
      border-top: 5px solid #191919;
      border-right: 5px solid #191919;
    }
  }
}