.dsk-2 {
  @media screen and(max-width: 1024px) {
    display: none;
  }
}

.mbl-2 {
  display: none;
  @media screen and(max-width: 1024px) {
    display: block;
  }
}

.index__se3 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 38.4vw;
  overflow: hidden;
  transform: translateY(-30px);
  pointer-events: none;
  @media screen and(max-width: 1024px) {
    transform: translateY(0px);
    //padding-bottom: 42.5vw;
    padding-bottom: 140vw;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 300vw;
  }
  > .bgc {
    position: absolute;
    top: 0;
    left: 0;
    // object-fit: fill;
    // width: 100%;
    // height: 100%;
  }
  > .ise3__txtmask {
    // 遮罩＋文字
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(#000000, 0.7);
    .real__show {
      text-align: center;
      width: 35vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      pointer-events: auto;
      @media screen and(max-width: 1024px) {
        top: 69%;
        width: 75vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @media screen and(max-width: 767px) {
        width: 75vw;
        top: 71%;
      }
    }
  }
}

.real__show {
  pointer-events: auto;
  // 實際顯示區域
  .title {
    font-size: vw-dsk(88);
    color: $mainColor;
    font-family: Arial Bold;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(20);
    }
    @media screen and(max-width: 767px) {
      font-size: vw-mbl(40);
    }
  }
  .sec__title {
    font-size: vw-dsk(30);
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #fafafa;
    font-family: "Noto Sans CJ Ktc";
    margin-top: vw-dsk(20);
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(9);
    }
    @media screen and(max-width:767px) {
      margin-top: vw-mbl(25);
      font-size: vw-mbl(18);
    }
  }
  .info {
    font-family: "Noto Sans CJ Ktc";
    color: #dcdcdc;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-top: vw-dsk(50);
    margin-bottom: vw-dsk(65);
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(7);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
      margin-top: vw-mbl(25);
      margin-bottom: vw-mbl(70);
    }
  }
  .link__btn {
    position: relative;
    z-index: 2;
    font-family: Arial Bold;
    display: inline-block;
    padding-top: vw-dsk(20);
    padding-bottom: vw-dsk(20);
    padding-right: vw-dsk(68);
    padding-left: vw-dsk(68);
    border: 5px solid #579d7b;
    font-size: vw-dsk(18);
    color: #fff;
    transition: 1s;
    text-align: center;
    @media screen and(min-width: 1199px) {
      &:hover {
        background-color: #579d7b;
        color: #fff;
      }
    }
    @media screen and(max-width: 1024px) {
      padding-top: vw-mbl(10);
      padding-bottom: vw-mbl(10);
      padding-right: vw-mbl(40);
      padding-left: vw-mbl(40);
      font-size: vw-mbl(9);
    }
    @media screen and(max-width:767px) {
      padding-top: vw-mbl(20);
      padding-bottom: vw-mbl(20);
      padding-right: vw-mbl(80);
      padding-left: vw-mbl(80);
      font-size: vw-mbl(18);
    }
    > span {
      display: inline-block;
    }
  }
}

.se3__mbl {
  width: 100%;
  height: 100%;
  object-fit: fill;
  @media screen and(max-width: 767px) {
    height: 120%;
  }
}

.simpleParallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
