.index__se4 {
  padding-top: 40px;
  @media screen and(max-width: 1024px) {
    //border: 1px solid #000;
    padding-top: 55px;
  }
}

.ise4 {
  &_swiper-container {
    width: 76vw;
  }
  &_swiper-wrapper {
    flex-wrap: wrap;
    @media screen and(max-width: 767px) {
      flex-wrap: nowrap;
    }
  }
  &_swiper-slide {
    width: 50%;
    @include odd() {
      .ise4__txt {
        border-right: 1px solid #afafaf;
        @media screen and(max-width: 767px) {
          border-right: none;
        }
      }
    }
    @media screen and(max-width: 767px) {
      width: 100%;
    }
    // border: 1px solid #000;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.ise4__img {
  //圖片區域
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 20.83vw;
  overflow: hidden;
  @media screen and(min-width: 1199px) {
    //border: 1px solid #f00;
    &:hover {
      > .real__img {
        transition: 0.5s;
        transform: scale(1.1);
      }
    }
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 45vw;
  }
  > .real__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: 0.5s;
    transform: scale(1);
  }
}

.ise4__txt {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 20vw;
  @media screen and(max-width: 1024px) {
    padding-bottom: 40vw;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 85vw;
  }
  > .real__txt {
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    @media screen and(max-width: 1024px) {
      width: 80%;
      top: 30px;
    }
    @media screen and(max-width: 767px) {
      width: 100%;
    }
    > .data__show {
      width: 130px;
      height: 30px;
      background-color: $mainColor;
      text-align: center;
      line-height: 30px;
      color: #fafafa;
      margin-bottom: 20px;
      font-family: Arial Bold;
      font-size: vw-dsk(16);
      @media screen and(max-width: 1024px) {
        font-size: vw-mbl(6);
      }
      @media screen and(max-width:767px) {
        font-size: vw-mbl(12);
      }
      //日期地方
    }
    > .info__show {
      //內容顯示區域
      border-top: 1px solid #afafaf;
      .title {
        font-size: vw-dsk(30);
        color: #191919;
        letter-spacing: 1.5px;
        margin-bottom: vw-dsk(24);
        padding-top: vw-dsk(36);
        font-family: "Noto Sans CJ Ktc";
        font-weight: 700;
        @media screen and(max-width: 1024px) {
          font-size: vw-mbl(9);
          width: 85%;
        }
        @media screen and(max-width:767px) {
          font-size: vw-mbl(18);
          margin-bottom: vw-mbl(24);
          padding-top: vw-mbl(24);
          width: 85%;
        }
      }
      .info {
        color: rgba(#4b4b4b, 0.6);
        font-weight: 300;
        line-height: 1.6;
        font-family: "Noto Sans CJ Ktc";
        font-size: vw-dsk(16);
        @media screen and(max-width: 1024px) {
          font-size: vw-mbl(7);
          line-height: 1.8;
        }
        @media screen and(max-width:767px) {
          font-size: vw-mbl(14);
        }
      }
    }
  }
}

.ise4_swiper-pagination {
  position: absolute;
  //border: 1px solid #f00;
  z-index: 10;
  left: 10vw;
  @media screen and(max-width: 1024px) {
    bottom: 20px;
  }
  span {
    //border: 1px solid #000;
    display: inline-block;
    padding: 15px;
    position: relative;
    cursor: pointer;
    &::after {
      cursor: pointer;
      position: absolute;
      width: 10px;
      height: 10px;
      content: "";
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #66bf97;
    }
  }
  .swiper-pagination-bullet-active {
    &::after {
      background-color: #66bf97;
    }
  }
}

.common-footer {
  @media screen and(max-width: 1024px) {
    margin-top: 0;
  }
}

.btn__backup {
  transform: translateY(-160%) translateX(-50%);
}
