.mainContainer{width:100%;height:100%}.index__sewrap{width:92%;position:relative;right:-8%;top:0;background-color:#f5f5f5}@media screen and (max-width:1024px){.index__sewrap{width:100%;position:relative;right:0%;padding-top:6.5%}}@media screen and (max-width:767px){.index__sewrap{padding-top:18%}}
/*# sourceMappingURL=base.css.map */