.btn__area .menu__line {
  @media screen and(max-width: 1024px) {
    background-color: #e0e0e0;
  }
}

.newsin__se1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.6vw;
  overflow: hidden;
  // &::after {
  //   position: absolute;
  //   content: '';
  //   z-index: 3;
  //   width: 10px;
  //   height: 70%;
  //   top: 0;
  //   background-color: $mainColor;
  //   right: 51.4%;
  //   transform: skew(-31.5deg);
  // }
  @media screen and(max-width: 1024px) {
    padding-bottom: 147vw;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 260vw;
  }
}

@keyframes circle {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  }
}

@keyframes circle2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 56% 100%, 0% 100%);
  }
}

.news__shadow {
  position: absolute;
  z-index: 1;
  background-color: #66bf97;
  width: 40%;
  height: 40vw;
  left: 9%;
  top: 19.3vw;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  animation: circle 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateZ(0);
  @media screen and(max-width: 1024px) {
    animation: circle2 4s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    width: 110%;
    height: 60.3vw;
    top: 11vw;
    left: 0%;
    clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  }
  @media screen and(max-width:767px) {
    width: 110%;
    height: 79vw;
    top: 18vw;
    left: 0%;
  }
}

.contact__se1bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  z-index: 3;
  padding-bottom: 56vw;
  clip-path: polygon(0 0, 58% 0, 30% 100%, 0% 100%);
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media screen and(max-width: 1024px) {
      object-fit: cover;
    }
  }
  @media screen and(max-width: 1024px) {
    padding-bottom: 70vw;
    clip-path: polygon(100% 0, 100% 30%, 60% 100%, 0 100%, 0 0);
  }
  @media screen and(max-width:767px) {
    padding-bottom: 94vw;
  }
}

.new__info {
  //文字顯示區域
  width: 45vw;
  text-align: right;
  position: absolute;
  //實際顯示文字範圍
  //border: 1px solid #f00;
  top: 60%;
  right: 5vw;
  transform: translateY(-50%);
  @media screen and(max-width: 1024px) {
    top: 75%;
    width: 76vw;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
  }
  @media screen and(max-width:767px) {
    top: 67.5%;
  }
}

.title__area {
  //標題區域
  margin-bottom: vw-dsk(60);
  @media screen and(max-width: 1024px) {
    margin-bottom: vw-mbl(17.5);
  }
  @media screen and(max-width:767px) {
    margin-bottom: vw-mbl(35);
  }
  > .main__title {
    color: $mainColor;
    font-size: vw-dsk(88);
    opacity: 0.8;
    margin-bottom: vw-dsk(40);
    font-family: "Arial Bold";
    font-weight: 700;
    @media screen and(max-width: 1024px) {
      font-weight: 400;
      font-size: vw-mbl(20);
      margin-bottom: vw-mbl(12.5);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(40);
      margin-bottom: vw-mbl(25);
    }
  }
  .sec__title {
    font-family: "Noto Sans CJ Ktc";
    color: #191919;
    font-size: vw-dsk(30);
    font-weight: 700;
    letter-spacing: 1.5px;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(9);
      letter-spacing: 0.9px;
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(18);
    }
  }
}

.info__area {
  //內文區域
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //border: 1px solid #000;
  @media screen and(max-width: 1024px) {
    flex-direction: column;
  }
  > .title {
    font-family: "Noto Sans CJ Ktc";
    color: rgba(#4b4b4b, 1);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
    line-height: 1.5;
    font-size: vw-dsk(22);
    //border: 1px solid #000;
    margin-bottom: vw-dsk(25);
    @media screen and(max-width: 1024px) {
      //border: 1px solid #f00;
      font-size: vw-mbl(7);
      letter-spacing: 0.7px;
      text-align: left;
      margin-bottom: vw-mbl(12.5);
      padding-top: vw-mbl(12.5);
      border-top: 1px solid #afafaf;
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
      padding-top: vw-mbl(25);
      margin-bottom: vw-mbl(25);
    }
  }
  > .data {
    font-family: "Noto Sans CJ Ktc";
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: $mainColor;
    letter-spacing: 0.8px;
    color: #fafafa;
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      width: 90px;
      height: 20px;
      font-size: 10px;
      line-height: 20px;
      font-size: vw-mbl(6);
      order: -1;
      align-self: flex-end;
      margin-bottom: vw-mbl(12.5);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(12);
      margin-bottom: vw-mbl(25);
    }
  }
  > .info {
    width: 100%;
    font-family: "Noto Sans CJ Ktc";
    text-align: left;
    color: rgba(#4b4b4b, 0.6);
    letter-spacing: 0.8px;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
    font-size: vw-dsk(16);
    padding-top: vw-dsk(40);
    @media screen and(max-width: 1024px) {
      padding-top: 0;
      line-height: 1.8;
      //border: 1px solid #f00;
      font-size: vw-mbl(7);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      border-bottom: 1px solid #afafaf;
      left: 0;
      top: 0px;
      @media screen and(max-width: 1024px) {
        display: none;
      }
    }
  }
}

.back__btn {
  //返回按鈕
  width: 160px;
  font-size: vw-dsk(18);
  font-family: "Arial Bold";
  //border: 1px solid #f00;
  //background-color: #ccc;
  position: relative;
  &:hover {
    background-color: $mainColor;
  }
  @media screen and(max-width: 1024px) {
    font-size: vw-mbl(7);
  }
  @media screen and(max-width: 767px) {
    font-size: vw-mbl(14);
  }
  @media screen and(min-width: 1199px) {
    &:hover {
      transition: 1s;
      background-color: $mainColor;
      color: #fff;
      .line {
        background-color: #fff;
      }
    }
  }
  > .line {
    transition: 1s;
    width: 110px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
  }
}

.newbtn__area {
  //border: 1px solid #000;
  margin-top: vw-dsk(130);
  @media screen and(max-width: 1024px) {
    margin-top: vw-mbl(20);
  }
  @media screen and(max-width:767px) {
    margin-top: vw-mbl(20);
  }
}
