//個別設定
#upTop {
  border: 1px solid #000;
  display: none;
}

// .email {
//   display: none;
//   @media screen and(max-width: 1024px) {
//     display: block;
//   }
// }
.tri {
  display: none;
  @media screen and(max-width: 1024px) {
    display: block;
  }
}

.tri-bk {
  display: none;
  @media screen and(max-width: 1024px) {
    display: block;
  }
}