.btn__area .menu__line {
  background-color: #fff;
}

@media screen and (min-width: 1199px) {
  .btn__language {
    color: #fff;
  }
}

.ab__se1 {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 52vw;
  background-color: #000;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .ab__se1 {
    padding-bottom: 135vw;
    overflow: visible;
  }
}

@media screen and (max-width: 767px) {
  .ab__se1 {
    padding-bottom: 215vw;
  }
}

.ab__se1bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.main__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
  z-index: 3;
}

.main__img > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 1024px) {
  .main__img > img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .main__img {
    top: 27.5%;
    height: 72.5%;
    -webkit-clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

@media screen and (max-width: 767px) {
  .main__img {
    top: 55%;
    height: 45%;
    -webkit-clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

.ab__se1txt {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 27.6%;
}

@media screen and (max-width: 1024px) {
  .ab__se1txt {
    width: 55vw;
    left: 35%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 15%;
  }
}

@media screen and (max-width: 767px) {
  .ab__se1txt {
    width: 85vw;
    -webkit-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
    left: 50%;
    top: 37vw;
  }
}

.ab__se1txt > .main__title {
  color: #66bf97;
  font-size: 88px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Arial Bold";
}

@media screen and (max-width: 1024px) {
  .ab__se1txt > .main__title {
    font-size: 40px;
  }
}

.ab__se1txt > .cn__title {
  color: #66bf97;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 2.08333vw;
  margin-bottom: 1.5625vw;
  font-family: "Noto Sans CJ Ktc";
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .ab__se1txt > .cn__title {
    font-size: 18px;
    margin-top: 6.25vw;
    margin-bottom: 6.25vw;
  }
}

.ab__se1txt > .info {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 1.8;
  font-family: "Noto Sans CJ Ktc";
}

@media screen and (max-width: 1024px) {
  .ab__se1txt > .info {
    font-size: 14px;
  }
}

.pro__shadow {
  position: absolute;
  background-color: #66bf97;
  width: 100%;
  height: 60%;
  right: 0.5%;
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
          clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
}

@media screen and (max-width: 1024px) {
  .pro__shadow {
    -webkit-clip-path: polygon(0 58%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 58%, 100% 0, 100% 100%, 0% 100%);
    bottom: 0%;
    right: 0%;
    height: 73.5%;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .pro__shadow {
    -webkit-clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
    height: 46.5%;
  }
}

.dice {
  position: absolute;
  width: 60%;
  height: 0;
  padding-bottom: 60vw;
  z-index: 20;
  top: 10%;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  left: 40%;
}

@media screen and (max-width: 1024px) {
  .dice {
    width: 60%;
    top: 58%;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .dice {
    width: 100%;
    padding-bottom: 90vw;
  }
}

.dice > .real__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.wrap {
  width: 78.125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.wrap__card {
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
}

@media screen and (max-width: 1024px) {
  .wrap__card {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.ab1_swiper-container {
  width: 80vw;
}

.ab1_swiper-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .ab1_swiper-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.ab1_swiper-slide {
  width: 32.5%;
}

@media screen and (max-width: 1024px) {
  .ab1_swiper-slide {
    width: 100%;
  }
}

.wrap__info {
  padding-top: 0.78125vw;
  padding-bottom: 6.51042vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.wrap__info > .se2__info {
  width: 50%;
  color: #4b4b4b;
}

@media screen and (max-width: 1024px) {
  .wrap__info > .se2__info {
    width: 85%;
    padding-top: 45px;
    font-weight: 300;
  }
}

.ab__txt {
  padding-top: 2.60417vw;
  padding-bottom: 2.60417vw;
  text-align: center;
  background-color: #000;
}

@media screen and (max-width: 1024px) {
  .ab__txt {
    padding-top: 9.375vw;
    padding-bottom: 9.375vw;
  }
}

.ab__txt .txt__num {
  font-size: 36px;
  color: #66bf97;
  font-family: "Archivo Black";
  font-weight: 700;
}

.ab__txt .txt__unit {
  font-family: "Noto Sans CJ Ktc";
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.ab__txt .txt__info {
  color: #ffffff;
  font-family: "Noto Sans CJ Ktc";
  font-size: 18px;
  margin-top: 0.52083vw;
}

.se2__info {
  font-family: "Noto Sans CJ Ktc";
  font-weight: 300;
  line-height: 1.8;
}

.ab__se2 {
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 1024px) {
  .ab__se2 {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.ab1-prev {
  padding: 15px;
  position: relative;
}

.ab1-prev::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  content: "";
  width: 20px;
  height: 20px;
  border-top: 5px solid #323232;
  border-left: 5px solid #323232;
}

.ab1-next {
  padding: 15px;
  position: relative;
}

.ab1-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  content: "";
  width: 20px;
  height: 20px;
  border-top: 5px solid #323232;
  border-right: 5px solid #323232;
}

.ab__img {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 14.58vw;
}

@media screen and (max-width: 1024px) {
  .ab__img {
    padding-bottom: 56vw;
  }
}

.ab__img > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: fill;
     object-fit: fill;
}

.ab__se3 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 55.73vw;
}

@media screen and (max-width: 1024px) {
  .ab__se3 {
    padding-bottom: 90vw;
  }
}

@media screen and (max-width: 767px) {
  .ab__se3 {
    padding-bottom: 110vw;
  }
}

.se3__title {
  position: absolute;
  top: 6.77vw;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Noto Sans CJ Ktc";
  font-size: 30px;
  letter-spacing: 1.5px;
  color: #61ad93;
}

@media screen and (max-width: 1024px) {
  .se3__title {
    font-size: 18px;
  }
}

.se3__bgcArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 38.1875vw;
}

@media screen and (max-width: 1024px) {
  .se3__bgcArea {
    padding-bottom: 68.1875vw;
  }
}

@media screen and (max-width: 767px) {
  .se3__bgcArea {
    padding-bottom: 108vw;
  }
}

.se3__bgcArea > .bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.tiemline__wrap {
  width: 75.78vw;
  position: absolute;
  top: 61%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .tiemline__wrap {
    width: 100vw;
    top: 10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 767px) {
  .tiemline__wrap {
    top: 20%;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #66bf97;
  border-radius: 50%;
  position: relative;
}

.swiper-pagination-bullet > span {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.ab2_gallery-thumbs .swiper-slide {
  position: relative;
  height: 0;
  padding-bottom: 10vw;
}

@media screen and (max-width: 1024px) {
  .ab2_gallery-thumbs .swiper-slide {
    padding-bottom: 40vw;
  }
}

.ab2_gallery-thumbs .swiper-slide::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  z-index: 2;
  top: 50%;
  background-color: #afafaf;
}

.ab2_gallery-thumbs .swiper-slide::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #66bf97;
  border-radius: 50%;
  content: "";
  top: 48.5%;
  left: 50%;
  z-index: 3;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
}

.ab2_gallery-thumbs .swiper-slide .slide__txt {
  position: absolute;
  top: 37%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide__txt {
  text-align: center;
}

.slide__txt > .time {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide__txt > .title {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 0;
  color: #ffffff;
  font-family: "Noto Sans CJ Ktc";
  opacity: 0;
  font-weight: 300;
  letter-spacing: 0.8px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.ab2_gallery-thumbs .swiper-slide-active .time,
.ab2_gallery-thumbs .swiper-slide-thumb-active .time,
.ab2_gallery-thumbs .swiper-slide-duplicate-active .time,
.ab2_gallery-top .swiper-slide-active .time,
.ab2_gallery-top .swiper-slide-thumb-active .time,
.ab2_gallery-top .swiper-slide-duplicate-active .time {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 52px;
  -webkit-transform: translateY(-38px);
          transform: translateY(-38px);
}

@media screen and (max-width: 1024px) {
  .ab2_gallery-thumbs .swiper-slide-active .time,
  .ab2_gallery-thumbs .swiper-slide-thumb-active .time,
  .ab2_gallery-thumbs .swiper-slide-duplicate-active .time,
  .ab2_gallery-top .swiper-slide-active .time,
  .ab2_gallery-top .swiper-slide-thumb-active .time,
  .ab2_gallery-top .swiper-slide-duplicate-active .time {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    font-size: 30px;
  }
}

.ab2_gallery-thumbs .swiper-slide-active .title,
.ab2_gallery-thumbs .swiper-slide-thumb-active .title,
.ab2_gallery-thumbs .swiper-slide-duplicate-active .title,
.ab2_gallery-top .swiper-slide-active .title,
.ab2_gallery-top .swiper-slide-thumb-active .title,
.ab2_gallery-top .swiper-slide-duplicate-active .title {
  font-size: 16px;
  opacity: 0.87;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1024px) {
  .ab2_gallery-thumbs .swiper-slide-active .title,
  .ab2_gallery-thumbs .swiper-slide-thumb-active .title,
  .ab2_gallery-thumbs .swiper-slide-duplicate-active .title,
  .ab2_gallery-top .swiper-slide-active .title,
  .ab2_gallery-top .swiper-slide-thumb-active .title,
  .ab2_gallery-top .swiper-slide-duplicate-active .title {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

.ab2_gallery-thumbs .swiper-slide-active .slideImg,
.ab2_gallery-thumbs .swiper-slide-thumb-active .slideImg,
.ab2_gallery-thumbs .swiper-slide-duplicate-active .slideImg,
.ab2_gallery-top .swiper-slide-active .slideImg,
.ab2_gallery-top .swiper-slide-thumb-active .slideImg,
.ab2_gallery-top .swiper-slide-duplicate-active .slideImg {
  position: absolute;
  z-index: 2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 3px 2px 50px 0px #191919;
          box-shadow: 3px 2px 50px 0px #191919;
}

@media screen and (max-width: 1024px) {
  .ab2_gallery-thumbs .swiper-slide-active .slideImg,
  .ab2_gallery-thumbs .swiper-slide-thumb-active .slideImg,
  .ab2_gallery-thumbs .swiper-slide-duplicate-active .slideImg,
  .ab2_gallery-top .swiper-slide-active .slideImg,
  .ab2_gallery-top .swiper-slide-thumb-active .slideImg,
  .ab2_gallery-top .swiper-slide-duplicate-active .slideImg {
    -webkit-transform: scale(0.77);
            transform: scale(0.77);
  }
}

.ab2_gallery-thumbs .swiper-slide-active::before,
.ab2_gallery-thumbs .swiper-slide-thumb-active::before,
.ab2_gallery-thumbs .swiper-slide-duplicate-active::before,
.ab2_gallery-top .swiper-slide-active::before,
.ab2_gallery-top .swiper-slide-thumb-active::before,
.ab2_gallery-top .swiper-slide-duplicate-active::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background-color: #66bf97;
  border-radius: 50%;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(3) translateY(-25%);
          transform: translateX(-50%) scale(3) translateY(-25%);
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  .ab2_gallery-thumbs .swiper-slide-active::before,
  .ab2_gallery-thumbs .swiper-slide-thumb-active::before,
  .ab2_gallery-thumbs .swiper-slide-duplicate-active::before,
  .ab2_gallery-top .swiper-slide-active::before,
  .ab2_gallery-top .swiper-slide-thumb-active::before,
  .ab2_gallery-top .swiper-slide-duplicate-active::before {
    -webkit-transform: translateX(-50%) scale(1.5) translateY(-40%);
            transform: translateX(-50%) scale(1.5) translateY(-40%);
  }
}

.arrow__btn {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .arrow__btn {
    top: 22%;
  }
}

@media screen and (max-width: 767px) {
  .arrow__btn {
    top: 25.5%;
  }
}

.arrow__btn .ab2-prev {
  padding: 15px;
  position: relative;
}

.arrow__btn .ab2-prev::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  content: "";
  width: 30px;
  height: 30px;
  border-top: 7px solid #fff;
  border-left: 7px solid #fff;
}

@media screen and (max-width: 767px) {
  .arrow__btn .ab2-prev::after {
    width: 20px;
    height: 20px;
  }
}

.arrow__btn .ab2-next {
  padding: 15px;
  position: relative;
}

.arrow__btn .ab2-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  content: "";
  width: 30px;
  height: 30px;
  border-top: 7px solid #66bf97;
  border-right: 7px solid #66bf97;
}

@media screen and (max-width: 767px) {
  .arrow__btn .ab2-next::after {
    width: 20px;
    height: 20px;
  }
}

.slideImg {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 18vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1024px) {
  .slideImg {
    padding-bottom: 51vw;
    -webkit-transform: scale(0.77);
            transform: scale(0.77);
  }
}

@media screen and (max-width: 768px) {
  .slideImg {
    padding-bottom: 66vw;
  }
}

.slideImg > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.ab2_gallery-top {
  padding-top: 180px;
  padding-bottom: 180px;
}

@media screen and (max-width: 1024px) {
  .ab2_gallery-top {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
}

@media screen and (max-width: 767px) {
  .ab2_gallery-top {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.ab__se4 {
  position: relative;
  padding-bottom: 22vw;
}
/*# sourceMappingURL=about.css.map */