@media screen and (max-width: 1024px) {
  .btn__area .menu__line {
    background-color: #fff;
  }
}

.contact__se1 {
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 58.33vw;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .contact__se1 {
    padding-bottom: 65.33vw;
  }
}

@media screen and (max-width: 1024px) {
  .contact__se1 {
    padding-bottom: 215vw;
  }
}

@media screen and (max-width: 767px) {
  .contact__se1 {
    padding-bottom: 375vw;
  }
}

.contact__se1bgc {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: url("../img/layout/grid-b.png");
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 60% 0, 28% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 28% 100%, 0% 100%);
}

@media screen and (max-width: 1024px) {
  .contact__se1bgc {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
            clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  }
}

.line__box {
  position: absolute;
  top: 0;
  left: 18.5%;
  width: 70%;
  height: 70%;
  background-color: #66bf97;
  -webkit-clip-path: polygon(0 0, 60% 0, 28% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 28% 100%, 0% 100%);
}

.contact__se1txt {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30vw;
  left: 10vw;
}

@media screen and (max-width: 1024px) {
  .contact__se1txt {
    top: 18%;
    width: 85%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) skew(0deg);
            transform: translateX(-50%) translateY(-50%) skew(0deg);
  }
}

.contact__se1txt .product__title {
  font-size: 88px;
  opacity: 0.87;
  line-height: 1;
  font-family: "Arial Bold";
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .contact__se1txt .product__title {
    font-size: 40px;
  }
}

.contact__se1txt .product__title > span {
  display: block;
}

.contact__se1txt .title {
  color: #66bf97;
  font-size: 30px;
  letter-spacing: 1.5px;
  margin-top: 2.34375vw;
  margin-bottom: 1.82292vw;
  font-weight: 700;
  font-family: "Noto Sans CJ Ktc";
}

@media screen and (max-width: 1024px) {
  .contact__se1txt .title {
    font-size: 18px;
    color: #fff;
    margin-top: 8.4375vw;
    margin-bottom: 7.8125vw;
  }
}

.contact__se1txt .info {
  width: 70%;
  color: #fff;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.8px;
  font-family: "Noto Sans CJ Ktc";
}

@media screen and (max-width: 1024px) {
  .contact__se1txt .info {
    width: 100%;
    font-size: 14px;
  }
}

.contact__se1txt .info > p {
  line-height: 1.85;
  margin-bottom: 36px;
}

.contact__title {
  color: #66bf97;
  font-size: 88px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .contact__title {
    font-size: 40px;
  }
}

.contact__from {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 28vw;
  right: 10vw;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .contact__from {
    width: 100vw;
    top: 70vh;
    right: 50%;
    padding-right: 7.5vw;
    padding-left: 7.5vw;
    -webkit-transform: translateX(50%) translateY(0%);
            transform: translateX(50%) translateY(0%);
  }
}

@media screen and (max-width: 767px) {
  .contact__from {
    top: 76vh;
    padding-top: 40px;
  }
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2.60417vw;
  padding-bottom: 1.04167vw;
  border-bottom: 1px solid #afafaf;
}

.form-group > label {
  font-family: "Noto Sans CJ Ktc";
  color: #4b4b4b;
  width: 15%;
  font-size: 18px;
  letter-spacing: 0.9px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .form-group > label {
    width: 100%;
    font-size: 14px;
  }
}

.form-group > input {
  width: 85%;
  height: 30px;
  border: none;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .form-group > input {
    display: inline-block;
    margin-top: 20px;
  }
}

.form-group:last-of-type {
  border: none;
}

.list-unstyled {
  color: #d14956;
  font-size: 12px;
  padding-top: 15px;
}

.submit__btn {
  border: none;
  display: inline-block;
  width: 220px;
  height: 70px;
  border: 1px solid #66bf97;
  text-align: right;
  padding-left: 20px;
  color: #66bf97;
  font-size: 18px;
  letter-spacing: 0.9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (min-width: 1199px) {
  .submit__btn:hover {
    background-color: #66bf97;
    color: #fff;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media screen and (max-width: 1024px) {
  .submit__btn {
    width: 175px;
    font-size: 14px;
    margin-top: 20px;
  }
}

.error__show {
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  bottom: -5px;
  height: 14px;
  right: 0;
}

#inputContent {
  margin-top: 10px;
  border: 1px solid #afafaf;
  width: 100%;
  height: 14.0625vw;
}

@media screen and (max-width: 1024px) {
  #inputContent {
    margin-top: 20px;
    height: 315px;
  }
}

.contact__mblbgc {
  background-color: #000;
}

.contact__mblbgc .real__txt {
  width: 80%;
  margin: 0 auto;
}

.contact__mblbgc .real__txt > .contact__title {
  color: #66bf97;
  font-size: 40px;
}

.contact__mblbgc .real__txt > .title {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact__mblbgc .real__txt > .info {
  color: #fff;
  line-height: 1.8;
  letter-spacing: 0.7px;
  font-weight: 300;
}

.contact__mblbgc .real__txt > .info > p {
  margin-bottom: 30px;
}

.contact__se1bgc2 {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #000;
  height: 0;
  padding-bottom: 160vw;
}

@media screen and (max-width: 767px) {
  .contact__se1bgc2 {
    padding-bottom: 135vw;
  }
}

.contact__se1bgc2 .contact__se1txt {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .contact__se1bgc2 .contact__se1txt {
    top: 28%;
  }
}

@media screen and (max-width: 767px) {
  .contact__se1bgc2 .contact__se1txt {
    top: 60%;
  }
}

.common-footer {
  margin-top: 180px;
}

@media screen and (max-width: 1024px) {
  .common-footer {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=contact.css.map */