@media screen and (max-width: 1024px) {
  .btn__area .menu__line {
    background: #fff;
  }
}

.mask {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.ise1__card {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56%;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .ise1__card {
    padding-bottom: 100%;
  }
}

@media screen and (max-width: 767px) {
  .ise1__card {
    padding-bottom: 170%;
  }
}

.ise1__card-img {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56%;
  overflow: hidden;
  pointer-events: none;
}

@media screen and (max-width: 1024px) {
  .ise1__card-img {
    padding-bottom: 70%;
  }
}

@media screen and (max-width: 767px) {
  .ise1__card-img {
    padding-bottom: 95%;
  }
}

.ise1__card-img .bgc__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@-webkit-keyframes line {
  0% {
    left: -10%;
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 85% 0, 85% 0, 0 0);
            clip-path: polygon(0 0, 85% 0, 85% 0, 0 0);
  }
  100% {
    left: -10%;
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
            clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
  }
}

@keyframes line {
  0% {
    left: -10%;
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 85% 0, 85% 0, 0 0);
            clip-path: polygon(0 0, 85% 0, 85% 0, 0 0);
  }
  100% {
    left: -10%;
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
            clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
  }
}

@-webkit-keyframes line1 {
  0% {
    left: -3%;
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 96% 0, 96% 0%, 0 0);
            clip-path: polygon(0 0, 96% 0, 96% 0%, 0 0);
  }
  100% {
    left: -3%;
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 96% 0, 40% 100%, 0% 100%);
            clip-path: polygon(0 0, 96% 0, 40% 100%, 0% 100%);
  }
}

@keyframes line1 {
  0% {
    left: -3%;
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 96% 0, 96% 0%, 0 0);
            clip-path: polygon(0 0, 96% 0, 96% 0%, 0 0);
  }
  100% {
    left: -3%;
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 96% 0, 40% 100%, 0% 100%);
            clip-path: polygon(0 0, 96% 0, 40% 100%, 0% 100%);
  }
}

@-webkit-keyframes line2 {
  0% {
    left: -2%;
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 85% 0, 85% 0, 0 0);
            clip-path: polygon(0 0, 85% 0, 85% 0, 0 0);
  }
  100% {
    left: -2%;
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
            clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
  }
}

@keyframes line2 {
  0% {
    left: -2%;
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 85% 0, 85% 0, 0 0);
            clip-path: polygon(0 0, 85% 0, 85% 0, 0 0);
  }
  100% {
    left: -2%;
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
            clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
  }
}

.main__greenLine {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: -10%;
  background-color: #66bf97;
  -webkit-clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
  -webkit-animation: line 2s;
          animation: line 2s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@media screen and (max-width: 1024px) {
  .main__greenLine {
    left: -3%;
    -webkit-animation: line1 2s;
            animation: line1 2s;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-clip-path: polygon(0 0, 96% 0, 40% 100%, 0% 100%);
            clip-path: polygon(0 0, 96% 0, 40% 100%, 0% 100%);
  }
}

@media screen and (max-width: 767px) {
  .main__greenLine {
    left: -2%;
  }
}

.main__bgc {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
}

.main__bgc > img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 1024px) {
  .main__bgc > img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .main__bgc {
    width: 100%;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 15%, 52% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0, 100% 15%, 52% 100%, 0% 100%);
  }
}

.main__txt {
  position: absolute;
  z-index: 2;
  top: 35vw;
  right: 10vw;
  width: 20%;
}

@media screen and (max-width: 1024px) {
  .main__txt {
    top: 75vw;
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .main__txt {
    top: 105vw;
  }
}

.main__txt > .show__item {
  font-family: Arial Bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #e1e1e1;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .main__txt > .show__item {
    font-size: 38px;
  }
}

.main__txt > .title {
  color: #191919;
  font-family: "Noto Sans CJ Ktc";
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 30px;
  margin-top: 2.08333vw;
  margin-bottom: 1.5625vw;
}

@media screen and (max-width: 1024px) {
  .main__txt > .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .main__txt > .title {
    margin-top: 7.8125vw;
    margin-bottom: 7.8125vw;
  }
}

.main__txt > .info {
  color: #4b4b4b;
  font-family: "Noto Sans CJ Ktc";
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 1024px) {
  .main__txt > .info {
    font-size: 14px;
  }
}

.ise1_swiper-pagination {
  bottom: -45%;
  left: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .ise1_swiper-pagination {
    bottom: 80%;
  }
}

@media screen and (max-width: 767px) {
  .ise1_swiper-pagination {
    left: 61%;
    bottom: 100%;
  }
}

.ise1_swiper-pagination span {
  display: inline-block;
  padding: 15px;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.ise1_swiper-pagination span::after {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  content: "";
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #66bf97;
}

@media screen and (max-width: 1024px) {
  .ise1_swiper-pagination span::after {
    width: 10px;
    height: 10px;
  }
}

.ise1_swiper-pagination .swiper-pagination-bullet-active::after {
  background-color: #66bf97;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.ise1-prev {
  padding: 15px;
  position: relative;
}

.ise1-prev::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  content: "";
  width: 30px;
  height: 30px;
  border-top: 10px solid #66bf97;
  border-left: 10px solid #66bf97;
}

.ise1-next {
  padding: 15px;
  position: relative;
}

.ise1-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  content: "";
  width: 30px;
  height: 30px;
  border-top: 10px solid #66bf97;
  border-right: 10px solid #66bf97;
}

.people__area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.people__area .ise1__people {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.people__area .ise1__ball {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .people__area .ise1__ball {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.mask-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9998;
}

.index__se2 {
  width: 100%;
  height: 68vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (min-width: 1199px) {
  .index__se2::before {
    position: absolute;
    content: "";
    width: 26vw;
    height: 5px;
    background-color: #66bf97;
    z-index: 2;
    left: 50%;
    -webkit-transform: translateX(-98.5%) skew(-30deg);
            transform: translateX(-98.5%) skew(-30deg);
  }
}

@media screen and (max-width: 1024px) {
  .index__se2 {
    height: 60.5vh;
  }
}

.black__bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.black__bgc .real__bgc {
  position: absolute;
  width: 96%;
  height: 100%;
  -webkit-box-shadow: 10px 0px 0px #60ae8a;
          box-shadow: 10px 0px 0px #60ae8a;
  background: linear-gradient(53deg, #293d34 20%, #000000 63%);
  -webkit-transform: translateX(-10%) skew(-20deg);
          transform: translateX(-10%) skew(-20deg);
}

@media screen and (max-width: 1024px) {
  .black__bgc .real__bgc {
    -webkit-transform: translateX(-20%) skew(-20deg);
            transform: translateX(-20%) skew(-20deg);
  }
}

.ise2_swiper-container {
  width: 73%;
  -webkit-transform: translateY(90px);
          transform: translateY(90px);
  z-index: 3;
  overflow: visible;
}

@media screen and (max-width: 1024px) {
  .ise2_swiper-container {
    overflow: hidden;
    width: 48%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    outline: 10px solid #66bf97;
  }
}

@media screen and (max-width: 767px) {
  .ise2_swiper-container {
    width: 65%;
    position: relative;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

.ise2_swiper-slide {
  width: 25%;
}

@media screen and (max-width: 1024px) {
  .ise2_swiper-slide {
    width: 100%;
  }
}

.ise2__card {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 24vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  outline: 0px solid #66bf97;
}

.ise2__card:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 10px solid #66bf97;
  z-index: 2;
}

.ise2__card:hover .ise2__img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 1024px) {
  .ise2__card:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
  }
}

@media screen and (max-width: 1024px) {
  .ise2__card {
    padding-bottom: 70vw;
  }
}

@media screen and (max-width: 767px) {
  .ise2__card {
    padding-bottom: 89vw;
  }
}

.ise2__card .ise2__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ise2__card .img__txt {
  width: 65%;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 14vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .ise2__card .img__txt {
    top: 45vw;
  }
}

@media screen and (max-width: 767px) {
  .ise2__card .img__txt {
    top: 45vw;
  }
}

.ise2__card .img__title {
  font-family: "Noto Sans CJ Ktc";
  margin-top: 1.04167vw;
  font-size: 24px;
  color: #fafafa;
  font-weight: 700;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 1024px) {
  .ise2__card .img__title {
    margin-top: 3.125vw;
    font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .ise2__card .img__title {
    margin-top: 6.25vw;
  }
}

.ise2__items {
  position: relative;
  margin: 0 auto;
  width: 76vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 2.08333vw;
  background-color: #fff;
  height: 160px;
  -webkit-transform: translateY(90px);
          transform: translateY(90px);
  z-index: 2;
  -webkit-box-shadow: 5vw 5vw 5vw -3vw black;
          box-shadow: 5vw 5vw 5vw -3vw black;
}

@media screen and (max-width: 1024px) {
  .ise2__items {
    position: absolute;
    top: 88%;
    width: 55vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 80vw;
  }
}

@media screen and (max-width: 767px) {
  .ise2__items {
    position: absolute;
    top: 94%;
    width: 80vw;
    z-index: 2;
    height: 150vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.ise2__items > .ise2__txtshow {
  width: 25%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ise2__items > .ise2__txtshow::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 85px;
  background-color: #afafaf;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
  .ise2__items > .ise2__txtshow::after {
    top: 125%;
    width: 100%;
    height: 1px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media screen and (max-width: 767px) {
  .ise2__items > .ise2__txtshow::after {
    background-color: #afafaf;
    width: 100%;
    top: 150%;
  }
}

.ise2__items > .ise2__txtshow:last-of-type::after {
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  .ise2__items > .ise2__txtshow {
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .ise2__items > .ise2__txtshow {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.ise2__items .ise2__txt {
  margin: 0 auto;
  width: 63%;
}

@media screen and (max-width: 1024px) {
  .ise2__items .ise2__txt {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .ise2__items .ise2__txt {
    width: 100%;
  }
}

.ise2__items .ise2__txt > .title {
  margin-bottom: 10px;
}

.ise2__items .ise2__txt > .title > .num {
  color: #66bf97;
  font-size: 36px;
  font-family: "Arial Bold";
  font-weight: 700;
}

.ise2__items .ise2__txt > .title > .unit {
  font-family: "Noto Sans CJ Ktc";
  font-size: 30px;
  color: #191919;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.ise2__items .ise2__txt > .info {
  font-family: "Noto Sans CJ Ktc";
  color: #323232;
  font-size: 18px;
  letter-spacing: 1px;
  letter-spacing: 0.9px;
  text-align: center;
}

.ise2__btn {
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .ise2__btn {
    width: 95%;
  }
}

.ise2__btn .ise2-prev {
  padding: 15px;
  position: relative;
}

.ise2__btn .ise2-prev::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  content: "";
  width: 20px;
  height: 20px;
  border-top: 5px solid #fafafa;
  border-left: 5px solid #fafafa;
}

.ise2__btn .ise2-next {
  padding: 15px;
  position: relative;
}

.ise2__btn .ise2-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid #191919;
  border-right: 5px solid #191919;
}

@media screen and (max-width: 1024px) {
  .dsk-2 {
    display: none;
  }
}

.mbl-2 {
  display: none;
}

@media screen and (max-width: 1024px) {
  .mbl-2 {
    display: block;
  }
}

.index__se3 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 38.4vw;
  overflow: hidden;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media screen and (max-width: 1024px) {
  .index__se3 {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    padding-bottom: 140vw;
  }
}

@media screen and (max-width: 767px) {
  .index__se3 {
    padding-bottom: 300vw;
  }
}

.index__se3 > .bgc {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
}

.index__se3 > .ise3__txtmask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.index__se3 > .ise3__txtmask .real__show {
  text-align: center;
  width: 25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .index__se3 > .ise3__txtmask .real__show {
    top: 69%;
    width: 75vw;
  }
}

@media screen and (max-width: 767px) {
  .index__se3 > .ise3__txtmask .real__show {
    width: 75vw;
    top: 71%;
  }
}

.real__show .title {
  font-size: 88px;
  color: #66bf97;
  font-family: Arial Bold;
}

@media screen and (max-width: 1024px) {
  .real__show .title {
    font-size: 40px;
  }
}

.real__show .sec__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #fafafa;
  font-family: "Noto Sans CJ Ktc";
  margin-top: 1.04167vw;
}

@media screen and (max-width: 1024px) {
  .real__show .sec__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .real__show .sec__title {
    margin-top: 7.8125vw;
  }
}

.real__show .info {
  font-family: "Noto Sans CJ Ktc";
  color: #dcdcdc;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-top: 2.60417vw;
  margin-bottom: 3.38542vw;
  letter-spacing: 1px;
  line-height: 1.8;
}

@media screen and (max-width: 1024px) {
  .real__show .info {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .real__show .info {
    margin-top: 7.8125vw;
    margin-bottom: 21.875vw;
  }
}

.real__show .link__btn {
  font-family: Arial Bold;
  display: inline-block;
  padding-top: 1.04167vw;
  padding-bottom: 1.04167vw;
  padding-right: 3.54167vw;
  padding-left: 3.54167vw;
  border: 5px solid #579d7b;
  font-size: 18px;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (min-width: 1199px) {
  .real__show .link__btn:hover {
    background-color: #579d7b;
    color: #fff;
  }
}

@media screen and (max-width: 1024px) {
  .real__show .link__btn {
    padding-top: 3.125vw;
    padding-bottom: 3.125vw;
    padding-right: 12.5vw;
    padding-left: 12.5vw;
  }
}

@media screen and (max-width: 767px) {
  .real__show .link__btn {
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
    padding-right: 25vw;
    padding-left: 25vw;
  }
}

.real__show .link__btn > span {
  display: inline-block;
  width: 90px;
}

.se3__mbl {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 767px) {
  .se3__mbl {
    height: 120%;
  }
}

.simpleParallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index__se4 {
  padding-top: 40px;
}

@media screen and (max-width: 1024px) {
  .index__se4 {
    padding-top: 55px;
  }
}

.ise4_swiper-container {
  width: 76vw;
}

.ise4_swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .ise4_swiper-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.ise4_swiper-slide {
  width: 50%;
}

.ise4_swiper-slide:nth-child(odd) .ise4__txt {
  border-right: 1px solid #afafaf;
}

@media screen and (max-width: 767px) {
  .ise4_swiper-slide:nth-child(odd) .ise4__txt {
    border-right: none;
  }
}

@media screen and (max-width: 767px) {
  .ise4_swiper-slide {
    width: 100%;
  }
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.ise4__img {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 20.83vw;
  overflow: hidden;
}

@media screen and (min-width: 1199px) {
  .ise4__img:hover > .real__img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 767px) {
  .ise4__img {
    padding-bottom: 45vw;
  }
}

.ise4__img > .real__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ise4__txt {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 20vw;
}

@media screen and (max-width: 1024px) {
  .ise4__txt {
    padding-bottom: 40vw;
  }
}

@media screen and (max-width: 767px) {
  .ise4__txt {
    padding-bottom: 85vw;
  }
}

.ise4__txt > .real__txt {
  width: 60%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50px;
}

@media screen and (max-width: 1024px) {
  .ise4__txt > .real__txt {
    width: 80%;
    top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .ise4__txt > .real__txt {
    width: 100%;
  }
}

.ise4__txt > .real__txt > .data__show {
  width: 130px;
  height: 30px;
  background-color: #66bf97;
  text-align: center;
  line-height: 30px;
  color: #fafafa;
  margin-bottom: 20px;
  font-family: Arial Bold;
}

@media screen and (max-width: 1024px) {
  .ise4__txt > .real__txt > .data__show {
    font-size: 12px;
  }
}

.ise4__txt > .real__txt > .info__show .title {
  border-top: 1px solid #afafaf;
  font-size: 30px;
  color: #191919;
  letter-spacing: 1.5px;
  margin-bottom: 1.25vw;
  padding-top: 1.875vw;
  font-family: "Noto Sans CJ Ktc";
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .ise4__txt > .real__txt > .info__show .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .ise4__txt > .real__txt > .info__show .title {
    margin-bottom: 7.5vw;
    padding-top: 7.5vw;
  }
}

.ise4__txt > .real__txt > .info__show .info {
  color: #4b4b4b;
  font-weight: 300;
  line-height: 1.6;
  font-family: "Noto Sans CJ Ktc";
}

@media screen and (max-width: 1024px) {
  .ise4__txt > .real__txt > .info__show .info {
    font-size: 14px;
    line-height: 1.8;
  }
}

.ise4_swiper-pagination {
  position: absolute;
  z-index: 10;
  left: 10vw;
}

@media screen and (max-width: 1024px) {
  .ise4_swiper-pagination {
    bottom: 20px;
  }
}

.ise4_swiper-pagination span {
  display: inline-block;
  padding: 15px;
  position: relative;
  cursor: pointer;
}

.ise4_swiper-pagination span::after {
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #66bf97;
}

.ise4_swiper-pagination .swiper-pagination-bullet-active::after {
  background-color: #66bf97;
}

@media screen and (max-width: 1024px) {
  .common-footer {
    margin-top: 0;
  }
}
/*# sourceMappingURL=index.css.map */