@charset "UTF-8";
@media screen and (max-width: 1024px) {
  .btn__area .menu__line {
    background-color: #fff;
  }
}

.news__se1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.6vw;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .news__se1 {
    padding-bottom: 120vw;
  }
}

@media screen and (max-width: 767px) {
  .news__se1 {
    padding-bottom: 176vw;
  }
}

.news__se1 > .bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  -o-object-fit: fill;
     object-fit: fill;
}

.news__se1 .news__shadow {
  position: absolute;
  z-index: 3;
  background-color: #66bf97;
  width: 60%;
  height: 40vw;
  left: 18.9%;
  top: 19.3vw;
  -webkit-clip-path: polygon(0 0, 91% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 91% 0, 50% 100%, 0% 100%);
}

@media screen and (max-width: 1024px) {
  .news__se1 .news__shadow {
    width: 105%;
    height: 60vw;
    top: 11vw;
    left: 0%;
    -webkit-clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
  }
}

@media screen and (max-width: 767px) {
  .news__se1 .news__shadow {
    width: 104%;
    height: 60vw;
    top: 18vw;
    left: 0%;
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  }
}

.news__se1 .news__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 3;
  padding-bottom: 56vw;
  background-position: top center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
}

.news__se1 .news__img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 1024px) {
  .news__se1 .news__img > img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .news__se1 .news__img {
    padding-bottom: 70vw;
    -webkit-clip-path: polygon(100% 0, 100% 30%, 82% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 30%, 82% 100%, 0 100%, 0 0);
  }
}

@media screen and (max-width: 767px) {
  .news__se1 .news__img {
    padding-bottom: 76vw;
  }
}

.news__txt {
  position: absolute;
  top: 50%;
  z-index: 3;
  right: 10vw;
}

@media screen and (max-width: 1024px) {
  .news__txt {
    top: 65%;
    width: 80%;
    right: 12vw;
  }
}

@media screen and (max-width: 767px) {
  .news__txt {
    top: 55%;
    height: 150px;
  }
}

.news__txt .news__title {
  font-family: "Arial Bold";
  color: #66bf97;
  opacity: 0.87;
  text-transform: uppercase;
  font-size: 88px;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .news__txt .news__title {
    font-size: 40px;
    text-align: right;
  }
}

.news__txt .news__info {
  margin-top: 2.34375vw;
  color: #191919;
  font-family: "Noto Sans CJ Ktc";
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .news__txt .news__info {
    font-size: 18px;
  }
}

.btn__backup {
  -webkit-transform: translateY(-155%), translateX(-50%);
          transform: translateY(-155%), translateX(-50%);
}

.ds_select {
  margin-top: 115px;
  background-color: #fff;
  color: #191919;
  width: 295px;
  display: inline-block;
  line-height: 1;
  max-height: 50px;
  padding: 0px;
  text-align: center;
  border-bottom: 1px solid #231815;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 50px;
  z-index: 2;
}

.ds_select::after {
  position: absolute;
  z-index: 2;
  content: "";
  width: 10px;
  height: 10px;
  border-left: 2px solid #191919;
  border-bottom: 2px solid #191919;
  top: 45%;
  right: 5%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

@media screen and (max-width: 767px) {
  .ds_select::after {
    right: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .ds_select {
    position: absolute;
    margin-top: 10px;
    text-align: left;
    width: 100%;
    top: 12vw;
    right: 0;
    width: 220px;
    height: 50px;
    padding-left: 10px;
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .ds_select {
    top: 20vw;
  }
}

.ds_select .icon {
  position: absolute;
  top: 18px;
  right: 5%;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 1024px) {
  .ds_select .icon {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    right: 8%;
  }
}

@media screen and (max-width: 767px) {
  .ds_select .icon {
    right: 10%;
  }
}

.ds_select .ds_list {
  width: 100%;
  text-align: center;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  background-color: #000000;
  position: relative;
  top: 0px;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .ds_select .ds_list {
    left: -4%;
  }
}

.ds_select.open .ds_list {
  opacity: 1;
  margin-top: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
}

.ds_select .ds_list li {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 30px;
  position: relative;
  z-index: 2;
  text-align: left;
  padding-left: 30px;
  letter-spacing: 2px;
}

.ds_select .ds_list li::after {
  position: absolute;
  content: “”;
  display: inline-block;
  width: 80%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #dbdbdb;
}

@media screen and (max-width: 1024px) {
  .ds_select .ds_list li::after {
    width: 91%;
  }
}

.liAni {
  padding-top: 0;
  padding-bottom: 0;
}

.ds_select .ds_list li a {
  font-family: "Noto Sans CJ Ktc";
  background-color: #000000;
  overflow: hidden;
  display: block;
  position: relative;
  color: #999;
}

.ds_list {
  cursor: pointer;
}

.ds_list li:hover a {
  color: #66bf97;
}

.ds_select:hover,
.ds_select.open {
  border-color: #000000;
}

.ds_select.open {
  height: 600px;
}

.ds_select .ds_label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 2;
  text-align: left;
  padding-left: 30px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  .ds_select .ds_label {
    padding-left: 0px;
  }
}

.news__se2 {
  padding-top: 9vw;
}

@media screen and (max-width: 1024px) {
  .news__se2 {
    padding-top: 0vw;
    -webkit-transform: translateY(-13vw);
            transform: translateY(-13vw);
  }
}

@media screen and (max-width: 767px) {
  .news__se2 {
    -webkit-transform: translateY(-15vw);
            transform: translateY(-15vw);
  }
}

.wrap {
  width: 76vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap > .news__card {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .wrap > .news__card {
    width: 100%;
  }
}

.wrap > .news__card:nth-child(odd) .card__txt {
  border-right: 2px solid #afafaf;
}

@media screen and (max-width: 1024px) {
  .wrap > .news__card:nth-child(odd) .card__txt {
    border-right: none;
  }
}

.card__img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 23vw;
  overflow: hidden;
}

@media screen and (min-width: 1199px) {
  .card__img:hover > .img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1024px) {
  .card__img {
    padding-bottom: 33.5vw;
  }
}

@media screen and (max-width: 767px) {
  .card__img {
    padding-bottom: 45.3vw;
  }
}

.card__img > .img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.card__txt {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 18vw;
}

@media screen and (max-width: 1024px) {
  .card__txt {
    padding-bottom: 48vw;
  }
}

@media screen and (max-width: 767px) {
  .card__txt {
    padding-bottom: 78.15vw;
  }
}

.card__txt .real__txt {
  position: absolute;
  width: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 2.60417vw;
}

@media screen and (max-width: 1024px) {
  .card__txt .real__txt {
    top: 5.20833vw;
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .card__txt .real__txt {
    width: 100%;
    top: 7.8125vw;
  }
}

.card__txt .data__show {
  background-color: #66bf97;
  width: 130px;
  height: 30px;
  color: #fafafa;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  font-family: "Arial Bold";
}

@media screen and (max-width: 767px) {
  .card__txt .data__show {
    font-size: 12px;
  }
}

.card__txt .data__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__txt .data__area > .card__type {
  border: 1px solid #000;
  text-align: center;
  height: 30px;
  width: 80px;
  line-height: 30px;
  font-family: "Noto Sans CJ Ktc";
  margin-left: 10px;
  font-size: 12px;
  letter-spacing: 1;
}

.card__txt .info__show {
  border-top: 1px solid #afafaf;
}

.card__txt .info__show > .title {
  font-size: 30px;
  color: #191919;
  letter-spacing: 1.5px;
  font-weight: 700;
  padding-top: 1.875vw;
  margin-bottom: 1.25vw;
  letter-spacing: 0.9px;
  font-family: "Noto Sans CJ Ktc";
}

@media screen and (max-width: 1024px) {
  .card__txt .info__show > .title {
    padding-top: 3.75vw;
    margin-bottom: 2.5vw;
  }
}

@media screen and (max-width: 767px) {
  .card__txt .info__show > .title {
    font-size: 18px;
    padding-top: 6.875vw;
    margin-bottom: 8.4375vw;
  }
}

.card__txt .info__show > .info {
  color: #4b4b4b;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.8px;
  line-height: 1.8;
  font-family: "Noto Sans CJ Ktc";
}

@media screen and (max-width: 1024px) {
  .common-footer {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=news.css.map */