@media screen and (max-width: 1024px) {
  .btn__area .menu__line {
    background-color: #fff;
  }
}

.newsin__se1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.6vw;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .newsin__se1 {
    padding-bottom: 147vw;
  }
}

@media screen and (max-width: 767px) {
  .newsin__se1 {
    padding-bottom: 250vw;
  }
}

.news__shadow {
  position: absolute;
  z-index: 1;
  background-color: #66bf97;
  width: 40%;
  height: 40vw;
  left: 8.9%;
  top: 19.3vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

@media screen and (max-width: 1024px) {
  .news__shadow {
    width: 105%;
    height: 60vw;
    top: 11vw;
    left: 0%;
    -webkit-clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
  }
}

@media screen and (max-width: 767px) {
  .news__shadow {
    width: 104%;
    height: 60vw;
    top: 18vw;
    left: 0%;
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  }
}

.contact__se1bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  z-index: 3;
  padding-bottom: 56vw;
  -webkit-clip-path: polygon(0 0, 58% 0, 30% 100%, 0% 100%);
          clip-path: polygon(0 0, 58% 0, 30% 100%, 0% 100%);
}

.contact__se1bgc > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .contact__se1bgc > img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .contact__se1bgc {
    padding-bottom: 70vw;
    -webkit-clip-path: polygon(100% 0, 100% 30%, 82% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 30%, 82% 100%, 0 100%, 0 0);
  }
}

@media screen and (max-width: 767px) {
  .contact__se1bgc {
    padding-bottom: 76vw;
  }
}

.new__info {
  width: 45vw;
  text-align: right;
  position: absolute;
  top: 50%;
  right: 5vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
  .new__info {
    top: 72%;
    width: 76vw;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
  }
}

.title__area {
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .title__area {
    margin-bottom: 0px;
  }
}

.title__area .main__title {
  color: #66bf97;
  font-size: 88px;
  opacity: 0.8;
  margin-bottom: 40px;
  font-family: "Arial Bold";
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .title__area .main__title {
    font-weight: 400;
    font-size: 40px;
  }
}

.title__area .sec__title {
  font-family: "Noto Sans CJ Ktc";
  color: #191919;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1024px) {
  .title__area .sec__title {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
}

.info__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__area > .title {
  font-family: "Noto Sans CJ Ktc";
  color: #4b4b4b;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.1px;
  line-height: 1.5;
}

@media screen and (max-width: 1024px) {
  .info__area > .title {
    font-size: 14px;
    letter-spacing: 0.7px;
    -webkit-transform: translateY(85px);
            transform: translateY(85px);
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .info__area > .title {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.info__area > .data {
  font-family: "Noto Sans CJ Ktc";
  display: inline-block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #66bf97;
  letter-spacing: 0.8px;
  color: #fafafa;
}

@media screen and (max-width: 1024px) {
  .info__area > .data {
    width: 90px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@media screen and (max-width: 767px) {
  .info__area > .data {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

.info__area > .info {
  width: 100%;
  font-family: "Noto Sans CJ Ktc";
  padding-top: 35px;
  margin-top: 35px;
  text-align: left;
  color: #4b4b4b;
  letter-spacing: 0.8px;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .info__area > .info {
    line-height: 1.8;
    padding-top: 65px;
  }
}

.info__area > .info::after {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 1px solid #afafaf;
  left: 0;
  top: 0px;
}

.back__btn {
  width: 160px;
  display: inline-block;
  font-size: 18px;
  font-family: "Arial Bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1199px) {
  .back__btn:hover {
    -webkit-transition: 1s;
    transition: 1s;
    background-color: #66bf97;
    color: #fff;
  }
  .back__btn:hover .line {
    background-color: #fff;
  }
}

.back__btn > .line {
  -webkit-transition: 1s;
  transition: 1s;
  width: 110px;
  height: 1px;
  background-color: #000;
}

.newbtn__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 6.77083vw;
}

@media screen and (max-width: 1024px) {
  .newbtn__area {
    margin-top: 12.5vw;
  }
}

#upTop {
  border: 1px solid #000;
  display: none;
}

.tri {
  display: none;
}

@media screen and (max-width: 1024px) {
  .tri {
    display: block;
  }
}

.tri-bk {
  display: none;
}

@media screen and (max-width: 1024px) {
  .tri-bk {
    display: block;
  }
}
/*# sourceMappingURL=news-in.css.map */