@media screen and (min-width: 1199px) {
  .btn__area .menu__line {
    background-color: #fff;
  }
}

.btn__language {
  color: #fff;
}

.pro__se1 {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 52vw;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .pro__se1 {
    padding-bottom: 135vw;
  }
}

@media screen and (max-width: 767px) {
  .pro__se1 {
    padding-bottom: 215vw;
  }
}

.pro__se1bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.main__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 100%);
          clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 100%);
  z-index: 3;
}

.main__img > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 1024px) {
  .main__img > img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .main__img {
    top: 27.5%;
    height: 72.5%;
    -webkit-clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

@media screen and (max-width: 767px) {
  .main__img {
    top: 55%;
    height: 45%;
    -webkit-clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

.pro__se1txt {
  position: absolute;
  top: 50%;
  width: 30vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10vw;
}

@media screen and (max-width: 1024px) {
  .pro__se1txt {
    width: 60vw;
    left: 40%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 11%;
  }
}

@media screen and (max-width: 767px) {
  .pro__se1txt {
    width: 85vw;
    -webkit-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
    left: 50%;
    top: 37vw;
  }
}

.pro__se1txt > .product__title {
  font-size: 88px;
  color: #66bf97;
  font-family: "Arial Bold";
}

@media screen and (max-width: 1024px) {
  .pro__se1txt > .product__title {
    font-size: 40px;
  }
}

.pro__se1txt > .product__title > span {
  display: block;
}

.pro__se1txt > .title {
  font-size: 30px;
  letter-spacing: 1.5px;
  margin-top: 2.34375vw;
  margin-bottom: 1.82292vw;
  font-family: "Noto Sans CJ Ktc";
  line-height: 1.4;
}

@media screen and (max-width: 1024px) {
  .pro__se1txt > .title {
    font-size: 18px;
    margin-top: 8.4375vw;
    margin-bottom: 7.8125vw;
  }
}

.pro__se1txt > .info {
  width: 70%;
  color: #4b4b4b;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.8px;
  font-family: "Noto Sans CJ Ktc";
}

@media screen and (max-width: 1024px) {
  .pro__se1txt > .info {
    width: 100%;
    font-size: 14px;
  }
}

.pro__se1txt > .info > p {
  margin-bottom: 1.875vw;
}

.pro__shadow {
  position: absolute;
  background-color: #66bf97;
  width: 100%;
  height: 60%;
  right: 0.5%;
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
          clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
}

@media screen and (max-width: 1024px) {
  .pro__shadow {
    -webkit-clip-path: polygon(0 58%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 58%, 100% 0, 100% 100%, 0% 100%);
    bottom: 0%;
    right: 0%;
    height: 73.5%;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .pro__shadow {
    -webkit-clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
    height: 46.5%;
  }
}

.pro__se2 {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 33vw;
}

@media screen and (max-width: 1024px) {
  .pro__se2 {
    padding-bottom: 60vw;
  }
}

@media screen and (max-width: 767px) {
  .pro__se2 {
    padding-bottom: 115vw;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

.pro__se2 > .bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.pro__se2 > .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.pro__se2 > .mask > .txt__show {
  width: 22%;
  position: absolute;
  top: 50%;
  right: 15vw;
}

@media screen and (max-width: 1024px) {
  .pro__se2 > .mask > .txt__show {
    width: 85%;
    right: 6.5vw;
    top: 75%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.pro__se2 > .mask > .txt__show > .title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #66bf97;
  margin-bottom: 3.38542vw;
}

@media screen and (max-width: 1024px) {
  .pro__se2 > .mask > .txt__show > .title {
    font-size: 18px;
  }
}

.pro__se2 > .mask > .txt__show > .info {
  color: #dcdcdc;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.8px;
}

.simpleParallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.se3__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 6vw;
  padding-bottom: 2vw;
}

@media screen and (max-width: 767px) {
  .se3__title {
    padding-top: 15vw;
    padding-bottom: 15vw;
  }
}

@media screen and (max-width: 767px) {
  .se3__title > .real__txt {
    width: 80%;
  }
}

.se3__title > .real__txt .title {
  color: #191919;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding-bottom: 1.5vw;
}

@media screen and (max-width: 1024px) {
  .se3__title > .real__txt .title {
    font-size: 18px;
    margin-bottom: 0.88028vh;
  }
}

@media screen and (max-width: 767px) {
  .se3__title > .real__txt .title {
    margin-bottom: 3.52113vh;
  }
}

.se3__title > .real__txt .info2 {
  color: #4b4b4b;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
}

@media screen and (max-width: 1024px) {
  .se3__title > .real__txt .info2 {
    font-size: 14px;
  }
}

.se3__cards {
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 6.5vw;
}

.se3__cards > .se3__card {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .se3__cards > .se3__card {
    width: 100%;
  }
}

.card__img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 27vw;
}

.card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 1024px) {
  .card__img {
    padding-bottom: 52vw;
  }
}

.card__out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.card__txt {
  position: relative;
  width: 55%;
}

@media screen and (max-width: 1024px) {
  .card__txt {
    width: 100%;
  }
}

.card__txt .title {
  width: 100px;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #66bf97;
  font-size: 24px;
  color: #191919;
  font-weight: 700;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  .card__txt .title {
    margin-top: 30px;
    font-size: 18px;
  }
}

.card__txt .list {
  margin-top: 25px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .card__txt .list {
    border-bottom: 1px solid #afafaf;
    padding-bottom: 30px;
  }
}

.card__txt .list > li {
  line-height: 1.8;
  margin-bottom: 26px;
  font-family: "Noto Sans CJ Ktc";
}

.card__txt .list .item-info {
  color: #4b4b4b;
  font-weight: 300;
}

.card__txt .list .item-title {
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .card__txt .list .item-title {
    display: block;
  }
}

.se3__card:nth-child(odd) .card__out {
  border-right: 1px solid #afafaf;
}

@media screen and (max-width: 1024px) {
  .se3__card:nth-child(odd) .card__out {
    border-right: none;
  }
}

@media screen and (max-width: 1024px) {
  .se3__card:nth-last-child(-n + 1) .card__txt .list {
    border-bottom: none;
  }
}

.pro__se4 {
  width: 100%;
  padding-bottom: 60vw;
  height: 0;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .pro__se4 {
    padding-bottom: 160vw;
    background-color: #000;
  }
}

@media screen and (max-width: 767px) {
  .pro__se4 {
    padding-bottom: 340vw;
  }
}

.pro__se4bgc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main__bgc2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
}

.main__bgc2 > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 1024px) {
  .main__bgc2 {
    height: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 767px) {
  .main__bgc2 {
    height: 20%;
  }
}

.pro__se4txt {
  position: absolute;
  top: 50%;
  width: 30vw;
  left: 10vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
  .pro__se4txt {
    width: 85vw;
    top: 68%;
  }
}

@media screen and (max-width: 767px) {
  .pro__se4txt {
    width: 85vw;
    top: 55%;
  }
}

.pro__se4txt > .product__title {
  font-size: 30px;
  color: #66bf97;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .pro__se4txt > .product__title {
    font-size: 18px;
  }
}

.pro__se4txt > .product__title > span {
  display: block;
}

.pro__se4txt > .title {
  font-size: 16px;
  letter-spacing: 0.8px;
  margin-top: 2.34375vw;
  margin-bottom: 1.82292vw;
  line-height: 1.8;
  color: #fff;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .pro__se4txt > .title {
    font-size: 18px;
    margin-top: 8.4375vw;
    margin-bottom: 0;
    padding-bottom: 50px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    border-bottom: 5px solid #2f2725;
  }
}

.pro__se4txt > .info {
  color: #fff;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.8px;
  margin-top: 7.5vw;
}

@media screen and (max-width: 1024px) {
  .pro__se4txt > .info {
    width: 100%;
    font-size: 14px;
  }
}

.pro__se4txt > .info > p {
  margin-bottom: 1.875vw;
}

.info .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info .info__title {
  margin-bottom: 2.5vw;
}

@media screen and (max-width: 1024px) {
  .info .info__title {
    margin-bottom: 25px;
    padding-top: 25px;
  }
}

.info .info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .info .info__item {
    width: 50%;
  }
}

.pro__se4.mbl {
  height: 100%;
}

.pro__se4.mbl .info__item > span {
  margin-top: 35px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .pro__se4.mbl .info__item {
    width: 50%;
  }
}

.icon__area {
  width: 85px;
  height: 85px;
  margin-bottom: 30px;
}

.icon__area > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.pro__se5-swiper-container {
  width: 80%;
  position: relative;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

@media screen and (max-width: 1024px) {
  .pro__se5-swiper-container {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .pro__se5-swiper-container {
    width: 80%;
  }
}

.pro__se5-swiper-container::before {
  position: absolute;
  top: 71%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 1px;
  left: 33.3333%;
  border-right: 1px solid #ccc;
  height: 400px;
}

@media screen and (max-width: 1024px) {
  .pro__se5-swiper-container::before {
    border-right: none;
  }
}

.pro__se5-swiper-container::after {
  position: absolute;
  top: 71%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 1px;
  right: 33.3333%;
  border-right: 1px solid #ccc;
  height: 400px;
}

@media screen and (max-width: 1024px) {
  .pro__se5-swiper-container::after {
    border-right: none;
  }
}

.pro__se5-swiper-wrapper {
  position: relative;
}

.pro__se5-swiper-slide {
  width: 33.33333%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 1024px) {
  .pro__se5-swiper-slide {
    width: 100%;
  }
}

.slide__card > .slide__img {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 25.41vw;
  overflow: hidden;
}

@media screen and (min-width: 1199px) {
  .slide__card > .slide__img:hover > img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1024px) {
  .slide__card > .slide__img {
    padding-bottom: 72.8vw;
  }
  .slide__card > .slide__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #66bf97;
    -webkit-transition: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .slide__card > .slide__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #66bf97;
    -webkit-transition: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
}

.slide__card > .slide__img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide__card > .slide__txt {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .slide__card > .slide__txt {
    padding-bottom: 0px;
  }
}

.slide__card > .slide__txt > .real__txt {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .slide__card > .slide__txt > .real__txt {
    width: 100%;
  }
}

.slide__card > .slide__txt .slide__title {
  color: #191919;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 24px;
}

.slide__card > .slide__txt .slide__info {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 35px;
  letter-spacing: 0.7px;
  line-height: 1.8;
}

.pro__se5btn {
  position: absolute;
  top: 16%;
  width: 95%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .pro__se5btn {
    top: 5%;
  }
}

.pro__se5btn > .pro__se5-prev {
  position: relative;
  padding: 15px;
}

.pro__se5btn > .pro__se5-prev::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  content: "";
  width: 20px;
  height: 20px;
  border-top: 5px solid #191919;
  border-left: 5px solid #191919;
}

.pro__se5btn > .pro__se5-next {
  position: relative;
  padding: 15px;
}

.pro__se5btn > .pro__se5-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-40%) rotate(45deg);
          transform: translateX(-50%) translateY(-40%) rotate(45deg);
  content: "";
  width: 20px;
  height: 20px;
  border-top: 5px solid #191919;
  border-right: 5px solid #191919;
}

.swiper-slide-active .slide__img::before {
  left: -100%;
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.swiper-slide-active .slide__img::after {
  width: 0%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.common-footer {
  margin-top: 0px;
}
/*# sourceMappingURL=product.css.map */