@media screen and (min-width: 1199px) {
  .btn__area .menu__line {
    background-color: #fff;
  }
}

.btn__language {
  color: #fff;
}

.ser__se1 {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 52vw;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .ser__se1 {
    padding-bottom: 135vw;
  }
}

@media screen and (max-width: 767px) {
  .ser__se1 {
    padding-bottom: 215vw;
  }
}

.main__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
  z-index: 3;
}

.main__img > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (max-width: 1024px) {
  .main__img > img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .main__img {
    top: 27.5%;
    height: 72.5%;
    -webkit-clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

@media screen and (max-width: 767px) {
  .main__img {
    top: 55%;
    height: 45%;
    -webkit-clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

.ab__se1bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.txt__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ser__se1txt {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30vw;
  left: 9.58vw;
}

@media screen and (max-width: 1024px) {
  .ser__se1txt {
    width: 60vw;
    left: 40%;
    top: 11%;
    -webkit-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
  }
}

@media screen and (max-width: 767px) {
  .ser__se1txt {
    width: 85vw;
    left: 50%;
    top: 15%;
    -webkit-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%);
  }
}

.ser__se1txt > .service__title {
  font-size: 88px;
  color: #66bf97;
  font-family: "Arial Bold";
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .ser__se1txt > .service__title {
    font-size: 40px;
  }
}

.ser__se1txt > .service__title > span {
  display: block;
}

.ser__se1txt > .title {
  font-size: 30px;
  letter-spacing: 1.5px;
  margin-top: 2.34375vw;
  margin-bottom: 1.82292vw;
  font-family: "Noto Sans CJ Ktc";
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .ser__se1txt > .title {
    font-size: 18px;
    margin-top: 8.4375vw;
    margin-bottom: 7.8125vw;
  }
}

.ser__se1txt > .info {
  width: 70%;
  color: #4b4b4b;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.8px;
  font-family: "Noto Sans CJ Ktc";
}

@media screen and (max-width: 1024px) {
  .ser__se1txt > .info {
    width: 100%;
    font-size: 14px;
    line-height: 1.8;
  }
}

.ser__se1txt > .info > p {
  margin-bottom: 1.875vw;
}

@-webkit-keyframes line {
  0% {
    right: 0.5%;
    opacity: 0;
    -webkit-clip-path: polygon(75% 0, 100% 0, 100% 0, 75% 0);
            clip-path: polygon(75% 0, 100% 0, 100% 0, 75% 0);
  }
  100% {
    right: 0.5%;
    opacity: 1;
    -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
            clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
  }
}

@keyframes line {
  0% {
    right: 0.5%;
    opacity: 0;
    -webkit-clip-path: polygon(75% 0, 100% 0, 100% 0, 75% 0);
            clip-path: polygon(75% 0, 100% 0, 100% 0, 75% 0);
  }
  100% {
    right: 0.5%;
    opacity: 1;
    -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
            clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
  }
}

.pro__shadow {
  position: absolute;
  z-index: 3;
  background-color: #66bf97;
  width: 100%;
  height: 60%;
  right: 0%;
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
          clip-path: polygon(75% 0, 100% 0, 100% 100%, 60% 100%);
  -webkit-animation: line 2s;
          animation: line 2s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 1024px) {
  .pro__shadow {
    -webkit-clip-path: polygon(0 58%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 58%, 100% 0, 100% 100%, 0% 100%);
    bottom: 0%;
    right: 0%;
    height: 73.5%;
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .pro__shadow {
    -webkit-clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
    height: 46.5%;
  }
}

.ser__se2 {
  width: 100%;
  position: relative;
  padding-bottom: 56.6vw;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .ser__se2 {
    padding-bottom: 110vw;
    background-color: #191919;
  }
}

@media screen and (max-width: 767px) {
  .ser__se2 {
    padding-bottom: 175vw;
  }
}

.main__img2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100.1%;
  background-position: center center;
  background-size: cover;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .main__img2 {
    top: 27.5%;
    height: 72.5%;
    -webkit-clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

@media screen and (max-width: 767px) {
  .main__img2 {
    top: 55%;
    height: 45%;
    -webkit-clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

.main__shadow {
  position: absolute;
  top: 0;
  left: -23.2%;
  width: 100%;
  height: 25%;
  z-index: -1;
  background-color: #66bf97;
  -webkit-transform: skew(-28deg);
          transform: skew(-28deg);
}

.ser__se2bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-clip-path: polygon(0 0, 80% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 80% 0, 50% 100%, 0 100%);
}

.ser_swiper-container {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 75%;
}

@media screen and (max-width: 1024px) {
  .ser_swiper-container {
    left: 50%;
  }
}

.ser_swiper-slide {
  position: relative;
  height: 0;
  padding-bottom: 29vw;
}

@media screen and (max-width: 1024px) {
  .ser_swiper-slide {
    position: relative;
    padding-bottom: 80vw;
  }
}

@media screen and (max-width: 767px) {
  .ser_swiper-slide {
    padding-bottom: 150vw;
  }
}

.ser__card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .ser__card {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    pointer-events: none;
  }
}

.ser__card > .slide__img {
  position: relative;
  width: 73%;
  height: 0;
  padding-bottom: 30vw;
}

.ser__card > .slide__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191919;
  -webkit-transition: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.ser__card > .slide__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191919;
  -webkit-transition: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

@media screen and (max-width: 1024px) {
  .ser__card > .slide__img {
    width: 100%;
    padding-bottom: 45vw;
  }
}

.ser__card > .slide__img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.ser__card > .slide__txt {
  color: #ffffff;
  font-weight: 300;
  width: 35%;
  line-height: 1.8;
  letter-spacing: 0.7px;
  font-family: "Noto Sans CJ Ktc";
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (max-width: 1024px) {
  .ser__card > .slide__txt {
    width: 100%;
    margin-top: 28.125vw;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 767px) {
  .ser__card > .slide__txt {
    margin-top: 50vw;
  }
}

.ser__card > .slide__txt > p {
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .ser__card > .slide__txt > p {
    width: 100%;
  }
}

.common-footer {
  margin-top: 160px;
}

.ser__arrow {
  position: absolute;
  z-index: 10;
  width: 250px;
  height: 280px;
  top: 50%;
  left: 9.2vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
  .ser__arrow {
    top: 65%;
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@media screen and (max-width: 767px) {
  .ser__arrow {
    top: 40%;
  }
}

.ser__arrow .arrow__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .ser__arrow .arrow__btn {
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.ser__arrow .ser-prev {
  position: relative;
  padding: 15px;
}

.ser__arrow .ser-prev::after {
  position: absolute;
  top: 50%;
  left: 0%;
  content: "";
  width: 20px;
  height: 20px;
  border-top: 5px solid #66bf97;
  border-left: 5px solid #66bf97;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.ser__arrow .ser-next {
  position: relative;
  padding: 15px;
}

.ser__arrow .ser-next::after {
  position: absolute;
  top: 50%;
  right: 00%;
  content: "";
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-top: 5px solid #66bf97;
  border-right: 5px solid #66bf97;
}

.ser-pagination {
  width: 170px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: -18%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  z-index: 3;
  background-color: #000;
}

@media screen and (max-width: 1024px) {
  .ser-pagination {
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}

.span__black {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 16%;
  background-color: #000;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 1024px) {
  .span__black {
    width: 150px;
    height: 30px;
    left: 50%;
    background-color: #191919;
  }
}

.ser2-pagination {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 90%;
  left: 14%;
  width: 30px;
  color: #66bf97;
  z-index: -1;
  font-size: 28px;
  font-family: "Archivo Black";
}

@media screen and (max-width: 1024px) {
  .ser2-pagination {
    left: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    height: 30px;
    left: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-45%) translateY(-50%);
            transform: translateX(-45%) translateY(-50%);
  }
}

.ser2-pagination span {
  color: #66bf97;
}

.ser2-pagination .swiper-pagination-current {
  position: relative;
}

.ser2-pagination .swiper-pagination-current::before {
  position: absolute;
  content: "0";
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.ser2-pagination .swiper-pagination-total {
  color: #696969;
  position: relative;
}

.ser2-pagination .swiper-pagination-total::before {
  position: absolute;
  content: "0";
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.swiper-slide-active .slide__img::before,
.swiper-slide-duplicate-active .slide__img::before {
  left: 0%;
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.swiper-slide-active .slide__img::after,
.swiper-slide-duplicate-active .slide__img::after {
  width: 0%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media screen and (max-width: 1024px) {
  .common-footer {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=services.css.map */