.test {
  overflow: hidden;
}

.img__show {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 46.5%;
}

.img__show img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.img__txt {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) skew(-30deg);
          transform: translateY(-50%) skew(-30deg);
  right: -20%;
  width: 50%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.img__txt .real__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: skew(30deg) translate(-50%, -50%);
          transform: skew(30deg) translate(-50%, -50%);
}
/*# sourceMappingURL=test.css.map */