.btn__area .menu__line {
  @media screen and(max-width: 1024px) {
    background-color: #e0e0e0;
  }
}

.news__se1 {
  //全部顯示區域
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.6vw;
  overflow: hidden;
  //border: 1px solid #000;
  @media screen and(max-width: 1024px) {
    padding-bottom: 140vw;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 220vw;
  }
  > .bgc {
    //背景線段圖桌機才會出現
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    object-fit: fill;
  }
  @keyframes circle {
    0% {
      opacity: 0;
      clip-path: polygon(0 100%, 50% 100%, 50% 100%, 0% 100%);
    }
    100% {
      opacity: 1;
      clip-path: polygon(0 0, 91% 0, 50% 100%, 0% 100%);
    }
  }
  @keyframes circle2 {
    0% {
      opacity: 0;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
      opacity: 1;
      clip-path: polygon(0 0, 100% 0, 56% 100%, 0% 100%);
    }
  }
  .news__shadow {
    position: absolute;
    z-index: 3;
    background-color: #66bf97;
    width: 60%;
    height: 40vw;
    left: 18.9%;
    top: 19.3vw;
    clip-path: polygon(0 0, 91% 0, 50% 100%, 0% 100%);
    animation: circle 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    opacity: 0;
    @media screen and(max-width: 1024px) {
      animation: circle2 4s;
      animation-delay: 6s;
      animation-fill-mode: forwards;
      width: 110%;
      height: 60.3vw;
      top: 11vw;
      left: 0%;
      clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    }
    @media screen and(max-width:767px) {
      width: 110%;
      height: 79vw;
      top: 18vw;
      left: 0%;
    }
  }
  .news__img {
    //主要顯示圖片區域
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 3;
    padding-bottom: 56vw;
    background-position: top center;
    background-size: cover;
    clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      @media screen and(max-width: 1024px) {
        object-fit: cover;
      }
    }
    @media screen and(max-width: 1024px) {
      padding-bottom: 70vw;
      clip-path: polygon(100% 0, 100% 30%, 60% 100%, 0 100%, 0 0);
    }
    @media screen and(max-width:767px) {
      padding-bottom: 94vw;
    }
    // >.real__img {
    //   //上資料位置圖片
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   object-fit: fill;
    // }
  }
}

// .bgc__color {
//   //線段部分
//   position: absolute;
//   left: 37vw;
//   bottom: 0%;
//   transform: translateY(10px) translateX(20px) skew(-30deg);
//   height: 55%;
//   width: 25%;
//   background-color: #f00;
//   @media screen and(max-width: 1024px) {
//     left: 3.5vw;
//     width: 57.5%;
//   }
//   @media screen and(max-width:767px) {
//     height: 35%;
//     bottom: 50%;
//     width: 65.5%;
//     left: 8.5vw;
//   }
// }
//文字顯示區域
.news__txt {
  position: absolute;
  top: 50%;
  z-index: 3;
  //border: 1px solid #f00;
  right: 10vw;
  @media screen and(max-width: 1024px) {
    top: 56%;
    //border: 1px solid #f00;
    width: 80%;
    right: 12vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  @media screen and(max-width: 767px) {
    top: 53%;
    //border: 1px solid #000;
  }
  .news__title {
    font-family: "Arial Bold";
    color: #66bf97;
    opacity: 0.87;
    text-transform: uppercase;
    font-size: vw-dsk(88);
    text-align: right;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(20);
      text-align: right;
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(40);
    }
  }
  .news__info {
    margin-top: vw-dsk(45);
    color: #191919;
    font-family: "Noto Sans CJ Ktc";
    font-size: vw-dsk(30);
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: right;
    //border: 1px solid #000;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(9);
      margin-top: vw-mbl(15);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(18);
      margin-top: vw-mbl(30);
    }
  }
}
