.news__se2 {
  padding-top: 9vw;
  @media screen and(max-width: 1024px) {
    padding-top: 0vw;
    transform: translateY(-20vw);
  }
  @media screen and(max-width:767px) {
    transform: translateY(-35vw);
  }
}

.wrap {
  width: 76vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  >.news__card {
    width: 50%;
    @media screen and(max-width: 1024px) {
      width: 100%;
    }
    @include odd() {
      .card__txt {
        border-right: 2px solid #afafaf;
        @media screen and(max-width: 1024px) {
          border-right: none;
        }
      }
    }
  }
}

.card__img {
  //卡片等比區域
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 23vw;
  overflow: hidden;
  @media screen and(min-width: 1199px) {
    &:hover {
      > .img {
        transform: scale(1.2);
        transition: 0.5s;
      }
    }
  }
  @media screen and(max-width: 1024px) {
    padding-bottom: 45.3vw;
  }
  @media screen and(max-width: 767px) {
    //padding-bottom: 45.3vw;
  }
  >.img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    width: 100%;
    height: 100%;
    transition: 1s;
  }
}

.card__txt {
  //文字區域
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 18vw;
  @media screen and(max-width: 1024px) {
    padding-bottom: 48vw;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 78.15vw;
  }
  .real__txt {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: vw-dsk(50);
    @media screen and(max-width: 1024px) {
      top: vw-dsk(100);
      width: 80%;
    }
    @media screen and(max-width: 767px) {
      width: 100%;
      top: vw-mbl(25);
    }
  }
  .data__show {
    //日期顯示
    background-color: $mainColor;
    width: 130px;
    height: 30px;
    color: #fafafa;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    font-family: "Arial Bold";
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(6);
    }
    @media screen and(max-width: 767px) {
      font-size: vw-mbl(12);
    }
  }
  //日期外框
  .data__area {
    // border: 1px solid #000;
    display: flex;
    align-items: flex-start;
    >.card__type {
      border: 1px solid #000;
      text-align: center;
      height: 30px;
      width: 80px;
      line-height: 30px;
      font-family: "Noto Sans CJ Ktc";
      margin-left: 10px;
      font-size: 12px;
      letter-spacing: 1;
    }
  }
  .info__show {
    border-top: 1px solid #afafaf;
    >.title {
      font-size: vw-dsk(30);
      color: #191919;
      letter-spacing: 1.5px;
      font-weight: 700;
      padding-top: vw-dsk(36);
      margin-bottom: vw-dsk(24);
      letter-spacing: 0.9px;
      font-family: "Noto Sans CJ Ktc";
      @media screen and(max-width: 1024px) {
        font-size: vw-mbl(9);
        padding-top: vw-mbl(11);
        margin-bottom: vw-mbl(13.5);
      }
      @media screen and(max-width: 767px) {
        font-size: vw-mbl(18);
        padding-top: vw-mbl(22);
        margin-bottom: vw-mbl(27);
      }
    }
    >.info {
      color: rgba(#4b4b4b, 0.6);
      font-weight: 300;
      line-height: 25px;
      letter-spacing: 0.8px;
      line-height: 1.8;
      font-family: "Noto Sans CJ Ktc";
      font-size: vw-dsk(16);
      @media screen and(max-width: 1024px) {
        font-size: vw-mbl(7);
      }
      @media screen and(max-width: 767px) {
        font-size: vw-mbl(14);
      }
    }
  }
}

.common-footer {
  @media screen and(max-width: 1024px) {
    margin-top: 0px;
  }
}