.btn__backup {
  transform: translateY(-155%), translateX(-50%);
}

.ds_select {
  margin-top: vw-dsk(115);
  background-color: #fff;
  color: #191919;
  //border: 1px solid #f00;
  width: 295px;
  display: inline-block;
  line-height: 1;
  max-height: 50px;
  padding: 0px;
  text-align: center;
  border-bottom: 1px solid #231815;
  // line-height: 40px;
  cursor: pointer;
  transition: all 0.5s;
  line-height: 50px;
  z-index: 2;
  &::after {
    position: absolute;
    z-index: 2;
    content: "";
    width: 10px;
    height: 10px;
    border-left: 3px solid #66bf97;
    border-bottom: 3px solid #66bf97;
    top: 45%;
    right: 5%;
    transform: rotate(-45deg) translateY(-50%);
    @media screen and(max-width: 767px) {
      right: 10%;
    }
  }
  @media screen and(max-width: 1024px) {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    right: 0;
    width: vw-dsk(220);
    //border-bottom: none;
    // border: 1px solid #f00;
    height: 50px;
    padding-left: 10px;
    z-index: 2;
    @media screen and(max-width: 1024px) {
      width: vw-mbl(110);
    }
    @media screen and(max-width: 767px) {
      width: vw-mbl(220);
    }
    &.open {}
  }
  .icon {
    position: absolute;
    top: 18px;
    right: 5%;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    @media screen and(max-width: 1024px) {
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      right: 8%;
    }
    @media screen and(max-width:767px) {
      right: 10%;
    }
  }
}

//選單最外框
.ds_select .ds_list {
  width: 100%;
  text-align: center;
  // border: 1px solid #f00;
  transform-origin: top;
  // transform: scaleY(0);
  transition: all 1s;
  opacity: 0;
  position: relative;
  top: 0px;
  z-index: -1;
  @media screen and(max-width: 1024px) {
    width: 104%;
    left: -4%;
  }
}

.ds_select .ds_list li {
  padding-top: vw-dsk(15);
  padding-bottom: vw-dsk(15);
  line-height: vw-dsk(30);
  position: relative;
  z-index: 2;
  text-align: left;
  padding-left: vw-dsk(30);
  letter-spacing: 2px;
  pointer-events: none;
  background-color: #9e9e9e;
  transition: 1s;
  border-bottom: 1px solid #dbdbdb;
  @media screen and(min-width: 1199px) {
    &:hover {
      transition: 1s;
      background-color: $mainColor;
    }
  }
  @media screen and(max-width: 1024px) {
    padding-top: vw-mbl(7.5);
    padding-bottom: vw-mbl(7.5);
    line-height: vw-mbl(15);
    border-bottom: 1px solid #fff;
    background-color: $mainColor;
    padding-left: vw-mbl(10);
  }
  @media screen and(max-width: 767px) {
    padding-top: vw-mbl(15);
    padding-bottom: vw-mbl(15);
    line-height: vw-mbl(30);
    padding-left: vw-mbl(20);
  }
  >a {
    transition: 1s;
  }
  &::after {
    position: absolute;
    content: “”;
    display: inline-block;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #dbdbdb;
    @media screen and(max-width: 1024px) {
      width: 91%;
    }
  }
}

.liAni {
  padding-top: 0;
  padding-bottom: 0;
}

.ds_select .ds_list li a {
  font-family: "Noto Sans CJ Ktc";
  overflow: hidden;
  display: block;
  position: relative;
  color: #ffff;
}

.ds_list {
  cursor: pointer;
  li {
    &:hover {
      a {
        transition: 1s;
      }
    }
  }
}

.ds_select.open .ds_list {
  opacity: 1;
  margin-top: 0px;
  transition: all 1s;
  z-index: 1;
  li {
    pointer-events: auto;
  }
  // transform: scaleY(1);
}

.ds_select:hover,
.ds_select.open {
  border-color: #000000;
  .icon {}
}

.ds_select.open {
  height: 600px;
}

.ds_select .ds_label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 2;
  text-align: left;
  padding-left: 30px;
  letter-spacing: 2px;
  font-size: vw-dsk(20);
  @media screen and(max-width: 1024px) {
    padding-left: 10px;
    font-size: vw-mbl(7);
  }
  @media screen and(max-width:767px) {
    font-size: vw-mbl(14);
  }
  // transform: scale(0);
}