.btn__area {
  @media screen and(max-width: 1024px) {
    //手機版開關顏色
    .menu__line {
      background-color: #e0e0e0;
    }
  }
}

.contact__se1 {
  //contact 最外寬區域
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 58.33vw;
  overflow: hidden;
  //border: 1px solid #000;
  @media screen and(max-width: 1400px) {
    padding-bottom: 65.33vw;
  }
  @media screen and(max-width: 1024px) {
    padding-bottom: 200vw;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 425vw;
  }
}

.contact__se1bgc {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url("../img/layout/grid-b.png");
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 60% 0, 28% 100%, 0% 100%);
  @media screen and(max-width: 1024px) {
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  }
}

@keyframes circle {
  0% {
    opacity: 0;
    clip-path: polygon(0% 0, 60% 0, 60% 0, 0% 0);
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 0, 60% 0, 28% 100%, 0% 100%);
  }
}

.line__box {
  position: absolute;
  top: 0;
  left: 18.5%;
  width: 70%;
  height: 70%;
  background-color: $mainColor;
  clip-path: polygon(0 0, 60% 0, 28% 100%, 0% 100%);
  animation: circle 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.contact__se1txt {
  //border: 1px solid #000;
  //contact顯示區域
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30vw;
  // border: 1px solid #000;
  left: 9vw;
  @media screen and(max-width: 1024px) {
    top: 18%;
    width: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) skew(0deg);
  }
  .product__title {
    font-size: vw-dsk(88);
    opacity: 0.87;
    line-height: 1;
    font-family: "Arial Bold";
    font-weight: 700;
    text-transform: uppercase;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(22);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(44);
    }
    > span {
      display: block;
    }
  }
  .title {
    //聯絡我們標題
    color: $mainColor;
    font-size: vw-dsk(30);
    letter-spacing: 1.5px;
    margin-top: vw-dsk(45);
    margin-bottom: vw-dsk(35);
    font-weight: 700;
    font-family: "Noto Sans CJ Ktc";
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(9);
      margin-top: vw-mbl(13.5);
      margin-bottom: vw-mbl(12.5);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(18);
      margin-top: vw-mbl(27);
      margin-bottom: vw-mbl(25);
    }
  }
  .info {
    width: 70%;
    color: rgba(#fff, 0.8);
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.8px;
    font-family: "Noto Sans CJ Ktc";
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      width: 100%;
      font-size: vw-mbl(7);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
    }
    > p {
      line-height: 1.85;
      margin-bottom: vw-dsk(40);
      @media screen and(max-width: 1024px) {
        margin-bottom: vw-mbl(20);
      }
      @media screen and(max-width: 767px) {
        margin-bottom: vw-mbl(40);
      }
      // margin-bottom: 36px;
    }
  }
}

.contact__title {
  //標題
  color: $mainColor;
  font-size: 88px;
  text-transform: uppercase;
  @media screen and(max-width: 1024px) {
    font-size: 40px;
  }
}

.contact__from {
  //表單最外框
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 28vw;
  right: 10vw;
  // border: 1px solid #000;
  background-color: #fff;
  @media screen and(max-width: 1024px) {
    width: 100vw;
    top: 60vh;
    right: 50%;
    padding-right: 7.5vw;
    padding-left: 7.5vw;
    padding-top: 10vw;
    transform: translateX(50%) translateY(0%);
  }
  @media screen and(max-width:767px) {
    padding-top: 20vw;
    top: 85vh;
    //border: 1px solid #000;
  }
}

.form-group {
  //表單每一個區域
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: vw-dsk(50);
  padding-bottom: vw-dsk(20);
  border-bottom: 1px solid #afafaf;
  //border: 1px solid #000;
  @media screen and(max-width: 1024px) {
    padding-top: 0;
    padding-bottom: 0;
  }
  > label {
    font-family: "Noto Sans CJ Ktc";
    color: #4b4b4b;
    width: 15%;
    font-size: 18px;
    letter-spacing: 0.9px;
    position: relative;
    //border: 1px solid #f00;
    @media screen and(max-width: 1024px) {
      width: 100%;
      font-size: 14px;
      //border: 1px solid #000;
      margin-top: vw-mbl(10);
      //margin-bottom: vw-mbl(10);
    }
    @media screen and(max-width:767px) {
      margin-top: vw-mbl(20);
      //margin-bottom: vw-mbl(20);
    }
  }
  > input {
    width: 85%;
    height: 30px;
    border: none;
    //border: 1px solid #f00;
    position: relative;
    @media screen and(max-width: 1024px) {
      //border: 1px solid #000;
      display: inline-block;
    }
  }
}

.form-group {
  @include last-child() {
    border: none;
  }
}

.list-unstyled {
  //錯誤訊息
  color: #d14956;
  font-size: 12px;
  padding-top: 15px;
}

///表格區域
.submit__btn {
  //表單按鈕
  //border: 1px solid #000;
  border: none;
  display: inline-block;
  width: 220px;
  height: 70px;
  border: 1px solid $mainColor;
  text-align: right;
  padding-left: 20px;
  color: $mainColor;
  font-size: vw-dsk(18);
  letter-spacing: 0.9px;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  transition: 1s;
  @media screen and(min-width: 1199px) {
    &:hover {
      background-color: $mainColor;
      color: #fff;
      transition: 1s;
    }
  }
  @media screen and(max-width: 1024px) {
    width: 175px;
    font-size: vw-mbl(7);
    margin-top: 20px;
  }
  @media screen and(max-width:767px) {
    font-size: vw-mbl(14);
  }
}

.error__show {
  position: absolute;
  transition: 1s;
  bottom: -5px;
  height: 14px;
  right: 0;
  @media screen and(max-width: 1024px) {
  }
}

#inputContent {
  margin-top: 10px;
  border: 1px solid #afafaf;
  width: 100%;
  height: vw-dsk(270);
  @media screen and(max-width: 1024px) {
    margin-top: 20px;
    height: 315px;
  }
}

///手機版最上面區域
.contact__mblbgc {
  background-color: #000;
  //padding-top: 100px;
  //padding-bottom: 70px;
  .real__txt {
    //手機版文字外框
    width: 80%;
    margin: 0 auto;
    > .contact__title {
      //主標題
      color: $mainColor;
      font-size: 40px;
    }
    > .title {
      //聯絡我們
      color: #fff;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    > .info {
      //內文
      color: #fff;
      line-height: 1.8;
      letter-spacing: 0.7px;
      font-weight: 300;
      > p {
        margin-bottom: 30px;
        //border: 1px solid #f00;
      }
    }
  }
}

.contact__se1bgc2 {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #000;
  height: 0;
  padding-bottom: 120vw;
  //border: 1px solid #f00;
  @media screen and(max-width: 767px) {
    padding-bottom: 150vw;
  }
  .contact__se1txt {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and(max-width: 1024px) {
      top: 38.5%;
    }
    @media screen and(max-width: 767px) {
      top: 60%;
    }
  }
}
