.contact__se1 {
  //contact 最外寬區域
  position: relative;
  //height: 0;
  width: 100%;
  overflow: hidden;
  //padding-bottom: 58.33vw;
  @media screen and(max-width: 1024px) {
    background-color: #000;
    overflow: visible;
    //padding-bottom: 90vw;
  }
  @media screen and(max-width:767px) {
    //padding-bottom: 160vw;
  }
}

///手機版最上面區域
.contact__mblbgc {
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 70px;
  .real__txt {
    //手機版文字外框
    width: 80%;
    margin: 0 auto;
    >.contact__title {
      //主標題
      color: $mainColor;
      font-size: 40px;
    }
    >.title {
      //聯絡我們
      color: #fff;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    >.info {
      //內文
      color: #fff;
      line-height: 1.8;
      letter-spacing: 0.7px;
      font-weight: 300;
      >p {
        margin-bottom: 30px;
        //border: 1px solid #f00;
      }
    }
  }
}