.pro__se2 {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 33vw;
  @media screen and(max-width: 1024px) {
    padding-bottom: 115vw;
    //圖要換
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 140vw;
    transform: translateY(-1px);
  }
  >.bgc {
    //滿版背景圖
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  >.mask {
    //遮罩
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.3);
    >.txt__show {
      // 實際文字顯示區域
      width: 22%;
      position: absolute;
      top: 50%;
      // transform: translateY(-50%);
      right: 15vw;
      @media screen and(max-width: 1024px) {
        width: 85%;
        right: 6.5vw;
        top: 75%;
        transform: translateY(-50%);
      }
      >.s2__title {
        font-size: vw-dsk(30);
        font-weight: 700;
        letter-spacing: 1.5px;
        color: $mainColor;
        margin-bottom: vw-dsk(65);
        @media screen and(max-width: 1024px) {
          font-size: vw-mbl(9);
        }
        @media screen and(max-width:767px) {
          font-size: vw-mbl(18);
        }
      }
      >.s2__info {
        color: rgba(#dcdcdc, 0.6);
        font-weight: 300;
        line-height: 1.8;
        letter-spacing: 0.8px;
        font-size: vw-dsk(16);
        @media screen and(max-width: 1024px) {
          font-size: vw-mbl(7);
        }
        @media screen and(max-width: 767px) {
          font-size: vw-mbl(14);
        }
      }
    }
  }
}

.simpleParallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}