.se3__title {
  //標題區域
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 6vw;
  padding-bottom: 2vw;
  //order: 1px solid #000;
  @media screen and(max-width: 1024px) {
    padding-top: 7.5vw;
    padding-bottom: 0vw;
    // padding-bottom: 15vw;
  }
  @media screen and(max-width:767px) {
    padding-top: 15vw;
    padding-bottom: 0vw;
  }
  >.real__txt {
    //實際顯示區域
    @media screen and(max-width: 767px) {
      width: 80%;
    }
    .s3__title {
      //border: 1px solid #000;
      color: #191919;
      font-size: vw-dsk(30);
      font-weight: 700;
      letter-spacing: 1.5px;
      margin-bottom: 1.5vw;
      font-family: "Noto Sans CJ Ktc";
      @media screen and(max-width: 1024px) {
        font-size: vw-mbl(9);
        margin-bottom: vh-mbl(5);
      }
      @media screen and(max-width:767px) {
        font-size: vw-mbl(18);
        margin-bottom: vh-mbl(20);
      }
    }
    .info2 {
      color: rgba(#4b4b4b, 0.6);
      font-weight: 300;
      letter-spacing: 0.8px;
      line-height: 2;
      font-size: vw-dsk(16);
      @media screen and(max-width: 1024px) {
        font-size: vw-mbl(7);
      }
      @media screen and(max-width: 767px) {
        font-size: vw-mbl(14);
      }
    }
  }
}

.se3__cards {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 6.5vw;
  >.se3__card {
    width: 50%;
    @media screen and(max-width: 1024px) {
      width: 100%;
    }
  }
}

.card__img {
  //圖片區域
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 27vw;
  //border: 1px solid #000;
  @media screen and(max-width: 1024px) {
    margin-top: vw-mbl(25);
    padding-bottom: 52vw;
  }
  @media screen and(max-width:767px) {
    margin-top: vw-mbl(50);
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.card__out {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.card__txt {
  //文字區域
  position: relative;
  width: 55%;
  @media screen and(max-width: 1024px) {
    width: 100%;
  }
  @media screen and(max-width: 767px) {}
  .s3__title {
    display: inline-block;
    border-bottom: 1px solid $mainColor;
    font-size: vw-dsk(24);
    color: #191919;
    font-weight: 700;
    padding-bottom: 5px;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(9);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(18);
    }
  }
  .list {
    //border: 1px solid #f00;
    margin-top: vw-dsk(35);
    margin-bottom: vw-dsk(60);
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      border-bottom: 1px solid #afafaf;
      margin-top: vw-mbl(13);
      padding-bottom: vw-mbl(30);
      font-size: vw-mbl(7);
    }
    @media screen and(max-width:767px) {
      margin-top: vw-mbl(26);
      padding-bottom: vw-mbl(60);
      font-size: vw-mbl(14);
    }
    >li {
      line-height: 1.8;
      margin-bottom: 26px;
      font-family: "Noto Sans CJ Ktc";
      @include last-child {
        margin-bottom: 0px;
      }
    }
    .item-info {
      color: rgba(#4b4b4b, 0.6);
      font-weight: 300;
    }
    .item-title {
      font-weight: 700;
      display: block;
      @media screen and(max-width: 767px) {}
    }
  }
}

//rwd線
.se3__card {
  @include odd() {
    .card__out {
      border-right: 1px solid #afafaf;
      @media screen and(max-width: 1024px) {
        border-right: none;
      }
    }
  }
  @include last(1) {
    .card__txt {
      .list {
        @media screen and(max-width: 1024px) {
          border-bottom: none;
        }
      }
    }
  }
}