.pro__se4 {
  //背景全部區域
  width: 100%;
  padding-bottom: 60vw;
  height: 0;
  position: relative;
  // &::after {
  //   position: absolute;
  //   content: "";
  //   z-index: 1;
  //   width: 10px;
  //   height: 70%;
  //   bottom: 0;
  //   background-color: $mainColor;
  //   right: 40.95%;
  //   transform: skew(-22.7deg);
  // }
  @media screen and(max-width: 1024px) {
    padding-bottom: 160vw;
    background-color: #000;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 340vw;
  }
}

.pro__se4bgc {
  //線條背景圖區域
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @media screen and(max-width: 1024px) {}
  @media screen and(max-width: 767px) {}
}

.main__bgc2 {
  //  主要圖片顯示區域
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  //border: 1px solid #f00;
  clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
  >img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  @media screen and(max-width:1024px) {
    height: 40%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  @media screen and(max-width: 767px) {
    height: 20%;
  }
}

.pro__se4txt {
  position: absolute;
  top: 50%;
  width: 30vw;
  left: 10vw;
  transform: translateY(-50%);
  // border: 1px solid #000;
  @media screen and(max-width: 1024px) {
    width: 85vw;
    top: 68%;
  }
  @media screen and(max-width: 767px) {
    width: 85vw;
    top: 65%;
  }
  >.product__titles4 {
    //標題區域
    font-size: vw-dsk(30);
    color: #66bf97;
    opacity: 1;
    margin-bottom: vw-dsk(60);
    @media screen and(max-width: 1024px) {
      font-size: vh-mbl(9);
      margin-bottom: vw-mbl(15);
    }
    @media screen and(max-width:767px) {
      font-size: vh-mbl(18);
      margin-bottom: vw-mbl(30);
    }
    >span {
      display: block;
    }
  }
  >.p4__info {
    //中間內為區域
    // color: #191919;
    font-size: vw-dsk(16);
    letter-spacing: 0.8px;
    line-height: 1.8;
    color: rgba(#fff, 0.8);
    opacity: 1;
    //border: 1px solid #0f0;
    padding-bottom: vw-dsk(160);
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(7);
      font-weight: 300;
      line-height: 1.8;
      padding-bottom: vw-mbl(25);
      border-bottom: 2px solid #2f2725;
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
      padding-bottom: vw-mbl(50);
    }
  }
  >.info {
    color: rgba(#fff, 0.8);
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.8px;
    //border: 1px solid #f00;
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      width: 100%;
      font-size: vw-mbl(7);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
      margin-bottom: vw-mbl(70);
    }
    >.p4__infotitle {
      //第二段標題部分
      //border: 1px solid #f00;
      margin-bottom: vw-dsk(80);
      font-size: vw-dsk(16);
      @media screen and(max-width: 1024px) {
        font-size: vw-mbl(7);
        margin-bottom: vw-mbl(22.5);
        margin-top: vw-mbl(22.5);
      }
      @media screen and(max-width:767px) {
        font-size: vw-mbl(14);
        margin-bottom: vw-mbl(45);
        margin-top: vw-mbl(45);
      }
    }
  }
}

.info {
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  .info__title {
    @media screen and(max-width: 1024px) {}
  }
  .info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    @media screen and(max-width: 1024px) {
      transform: translateX(-30px);
    }
    @media screen and(max-width: 767px) {
      width: 50%;
      margin-bottom: vw-mbl(45);
      transform: translateX(-10px);
      //border: 1px solid #f00;
    }
    >span {
      //icon標題部分
      //border: 1px solid #f00;
      margin-top: vw-dsk(40);
      @media screen and(max-width: 1024px) {
        margin-top: vw-mbl(12.5);
      }
      @media screen and(max-width: 767px) {
        margin-top: vw-mbl(25);
      }
    }
  }
}

// .pro__se4.mbl {
//   height: 100%;
//   .info__item {
//     @media screen and(max-width: 767px) {
//       width: 50%;
//     }
//   }
// }
.icon__area {
  //border: 1px solid #f00;
  width: 85px;
  height: 85px;
  >img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.pro__shadow4 {
  right: 3%;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  clip-path: polygon(70.5% 30%, 70% 30%, 53% 100%, 53.5% 100%);
}