.pro__se5 {
  //border: 1px solid #000;
  position: relative;
  z-index: 2;
  &-swiper-container {
    width: 80%;
    position: relative;
    transform: translateY(-70px);
    @media screen and(max-width: 1024px) {
      width: 70%;
    }
    @media screen and(max-width:767px) {
      width: 80%;
      transform: translateY(-25px);
    }
    // border: 1px solid #f00;
    &::before {
      position: absolute;
      top: 71%;
      transform: translateY(-50%);
      content: "";
      width: 1px;
      left: 33.3333%;
      // border-right: 1px solid #ccc;
      height: 400px;
      @media screen and(max-width: 1024px) {
        border-right: none;
      }
    }
    &::after {
      position: absolute;
      top: 71%;
      transform: translateY(-50%);
      content: "";
      width: 1px;
      right: 33.3333333%;
      // border-right: 1px solid #ccc;
      height: 400px;
      @media screen and(max-width: 1024px) {
        border-right: none;
      }
    }
    @media screen and(max-width: 1024px) {
    }
  }
  &-swiper-wrapper {
    position: relative;
  }
  &-swiper-slide {
    width: 33.3333333%;
    align-items: stretch;
    @include last(1) {
    }
    @media screen and(max-width: 1024px) {
      width: 100%;
    }
  }
}

.pros5slide__card {
  > .slide__img {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 25.41vw;
    overflow: hidden;
    border: transparent;
    @media screen and(min-width: 1199px) {
      &:hover {
        > img {
          transform: scale(1.1);
          transition: 0.5s;
        }
      }
    }
    @media screen and(max-width: 1024px) {
      padding-bottom: 72.8vw;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $mainColor;
        transition: cubic-bezier(0.25, 0.1, 0.25, 1);
        transition-duration: 1s;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $mainColor;
        transition: cubic-bezier(0.25, 0.1, 0.25, 1);
        transition-duration: 1s;
      }
    }
    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      transform: scale(1);
      transition: 0.5s;
    }
  }
  > .slide__txt {
    //文字最外框
    border-right: 1px solid #efefef;
    padding-top: vw-dsk(40);
    padding-bottom: vw-dsk(40);
    @media screen and(max-width: 1024px) {
      border-right: none;
      padding-bottom: 0px;
    }
    > .real__txt {
      width: 80%;
      margin: 0 auto;
      @media screen and(max-width: 1024px) {
        width: 100%;
      }
    }
    .slide__title {
      color: #191919;
      font-weight: 700;
      //border: 1px solid #000;
      font-size: vw-dsk(30);
      margin-bottom: vw-dsk(65);
      @media screen and(max-width: 1024px) {
        font-size: vw-mbl(9);
        margin-bottom: vw-mbl(12.5);
      }
      @media screen and(max-width:767px) {
        font-size: vw-mbl(18);
        margin-bottom: vw-mbl(25);
      }
    }
    .slide__info {
      position: relative;
      font-weight: 300;
      color: rgba(#4b4b4b, 0.6);
      margin-bottom: vw-dsk(35);
      letter-spacing: 0.7px;
      line-height: 1.8;
      font-size: vw-dsk(16);
      @media screen and(max-width: 1024px) {
        font-size: vw-mbl(7);
        margin-bottom: vw-mbl(20);
      }
      @media screen and(max-width: 767px) {
        font-size: vw-mbl(14);
        margin-bottom: vw-mbl(40);
      }
    }
  }
}

.pro__se5btn {
  position: absolute;
  top: 16%;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  //border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  @media screen and(max-width: 767px) {
    top: 5%;
  }
  > .pro__se5-prev {
    position: relative;
    padding: 15px;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotate(-45deg) translateY(-50%);
      content: "";
      width: 20px;
      height: 20px;
      border-top: 5px solid #191919;
      border-left: 5px solid #191919;
    }
  }
  > .pro__se5-next {
    position: relative;
    padding: 15px;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-40%) rotate(45deg);
      content: "";
      width: 20px;
      height: 20px;
      border-top: 5px solid #191919;
      border-right: 5px solid #191919;
    }
  }
}

.swiper-slide-active {
  .slide__img {
    &::before {
      left: -100%;
      width: 100%;
      transition-delay: 0s;
    }
    &::after {
      width: 0%;
      transition-delay: 0s;
    }
  }
}

.common-footer {
  margin-top: 0px;
}
