$vw-dsk: 1920;
$vh-dsk: 1080;
$vw-mbl: 320;
$vh-mbl: 568;
// color
$c-p-1: #ea5404;
$mainColor:#66bf97;
$colors: ( '69': #696969, 'fff': #fff, 'e0': #e0e0e0, 'd0': #d0d0d0, 'c0': #c0c0c0, 'b0': #b0b0b0, 'a0': #a0a0a0, '90': #909090, '80': #808080, '70': #707070, '60': #606060, '50': #505050, '40': #404040, '30': #303030, '20': #202020, '10': #101010, '000': #000, 'p-1': $c-p-1, );