//.test img {
//clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 0 100%);
//}
.btn__area .menu__line {
  //menu線段
  @media screen and(min-width: 1199px) {
    background-color: #e0e0e0;
  }
}

.btn__language {
  color: #fff;
}

.ser__se1 {
  //最外恇區域
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56vw;
  background-color: #fff;
  @media screen and(max-width: 1024px) {
    padding-bottom: 135vw;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 260vw;
  }
}

.main__img {
  //主要顯示的圖
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // background-position: center center;
  // background-size: cover;
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 100%);
  // clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100%);
  //border: 1px solid #f00;
  z-index: 3;
  > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    @media screen and(max-width: 1024px) {
      object-fit: cover;
    }
  }
  @media screen and(max-width: 1024px) {
    top: 27.5%;
    height: 72.5%;
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
  @media screen and(max-width: 767px) {
    top: 55%;
    height: 45%;
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

.ab__se1bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.txt__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ser__se1txt {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 30vw;
  // border: 1px solid #000;
  left: 9.58vw;
  @media screen and(max-width: 1024px) {
    width: 60vw;
    left: 40%;
    top: 11%;
    transform: translateX(-50%) translateY(0%);
  }
  @media screen and(max-width:767px) {
    width: 85vw;
    left: 50%;
    top: 15%;
    transform: translateX(-50%) translateY(0%);
  }
  > .service__title {
    font-size: vw-dsk(88);
    color: $mainColor;
    font-family: "Arial Bold";
    font-weight: 700;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(20);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(40);
    }
    > span {
      display: block;
    }
  }
  > .title {
    // color: #191919;
    font-size: vw-dsk(30);
    letter-spacing: 1.5px;
    margin-top: vw-dsk(45);
    margin-bottom: vw-dsk(35);
    font-family: "Noto Sans CJ Ktc";
    font-weight: 700;
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(9);
      margin-top: vw-mbl(13.5);
      margin-bottom: vw-mbl(12.5);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(18);
      margin-top: vw-mbl(27);
      margin-bottom: vw-mbl(25);
    }
  }
  > .info {
    //border: 1px solid #000;
    width: 70%;
    color: rgba(#4b4b4b, 0.6);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.8px;
    font-family: "Noto Sans CJ Ktc";
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      width: 100%;
      font-size: vw-mbl(7);
      line-height: 1.8;
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
    }
    > p {
      //border: 1px solid #000;
      margin-bottom: vw-dsk(36);
      @media screen and(max-width: 1024px) {
        margin-bottom: 0;
      }
    }
  }
}

@keyframes circle {
  0% {
    opacity: 0;
    clip-path: polygon(65% 0, 100% 0, 100% 0, 65% 0);
  }
  100% {
    opacity: 1;
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 50% 100%);
  }
}

@keyframes circle2 {
  0% {
    opacity: 0;
    clip-path: polygon(0 57%, 0 57%, 0 100%, 0% 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
  }
}

.pro__shadow {
  position: absolute;
  z-index: 3;
  background-color: #66bf97;
  width: 100%;
  height: 60%;
  right: 0.5%;
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 50% 100%);
  animation: circle 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
  @media screen and(max-width: 1024px) {
    animation: circle2 4s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
    bottom: 0%;
    right: 0%;
    height: 73.5%;
    width: 90%;
  }
  @media screen and(max-width:767px) {
    clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
    height: 46.5%;
  }
}
