.ser__se2 {
  //背景
  width: 100%;
  position: relative;
  padding-bottom: 56.6vw;
  height: 0;
  overflow: hidden;
  transform: translateY(-1px);
  @media screen and(max-width: 1024px) {
    padding-bottom: 110vw;
    background-color: #191919;
    transform: translateY(0px);
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 175vw;
    transform: translateY(0px);
  }
}

.main__img2 {
  //主要顯示的圖
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100.1%;
  background-position: center center;
  background-size: cover;
  z-index: 10;
  //border: 1px solid #f00;
  @media screen and(max-width: 1024px) {
    top: 27.5%;
    height: 72.5%;
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
  @media screen and(max-width: 767px) {
    top: 55%;
    height: 45%;
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

.main__shadow {
  position: absolute;
  top: 0;
  left: -23.2%;
  width: 100%;
  height: 25%;
  z-index: -1;
  background-color: $mainColor;
  transform: skew(-28deg);
}

.ser__se2bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  clip-path: polygon(0 0, 80% 0, 50% 100%, 0 100%);
}

// .se2__bgc {
//   position: absolute;
//   top: 0;
//   left: -20%;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   //border: 1px solid #000;
//   transform: skew(-30deg);
//   > img {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     object-fit: fill;
//     transform: skew(30deg);
//     left: 20%;
//   }
// }
//輪播區域
.ser {
  &_swiper-container {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 75%;
    @media screen and(max-width: 1024px) {
      left: 50%;
    }
  }
  &_swiper-wrapper {
  }
  &_swiper-slide {
    position: relative;
    // border: 1px solid #fff;
    height: 0;
    padding-bottom: 32vw;
    // border: 1px solid #000;
    @media screen and(max-width: 1024px) {
      position: relative;
      padding-bottom: 80vw;
    }
    @media screen and(max-width:767px) {
      padding-bottom: 150vw;
    }
  }
}

.ser__card {
  // border: 1px solid #ff0;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  align-items: center;
  width: 100%;
  @media screen and(max-width: 1024px) {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    pointer-events: none;
  }
  > .slide__img {
    position: relative;
    width: 73%;
    // border: 1px solid #f00;
    height: 0;
    padding-bottom: 30vw;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #191919;
      //border: 1px solid #f00;
      transition: cubic-bezier(0.25, 0.1, 0.25, 1);
      transition-duration: 1s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #191919;
      transition: cubic-bezier(0.25, 0.1, 0.25, 1);
      transition-duration: 1s;
    }
    @media screen and(max-width: 1024px) {
      width: 100%;
      padding-bottom: 45vw;
    }
    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  > .slide__txt {
    color: #ffffff;
    font-weight: 300;
    width: 35%;
    line-height: 1.8;
    letter-spacing: 0.7px;
    font-family: "Noto Sans CJ Ktc";
    // border: 1px solid #f00;
    transform: translateY(-100%);
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      width: 100%;
      margin-top: vw-mbl(90);
      transform: translateY(0%);
      font-size: vw-mbl(7);
    }
    @media screen and(max-width:767px) {
      margin-top: vw-mbl(160);
      font-size: vw-mbl(14);
    }
    > p {
      width: 80%;
      //border: 1px solid #f00;
      @media screen and(max-width: 1024px) {
        width: 100%;
      }
    }
  }
}

.common-footer {
  margin-top: 160px;
}

.ser__arrow {
  //按鈕位置
  position: absolute;
  z-index: 10;
  //border: 1px solid #f00;
  width: 250px;
  height: 360px;
  top: 50.5%;
  left: 9.2vw;
  transform: translateY(-50%);
  @media screen and(max-width: 1024px) {
    top: 65%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  @media screen and(max-width:767px) {
    top: 40%;
  }
  .arrow__btn {
    //左右箭頭區域
    //border: 1px solid #f00;
    position: absolute;
    right: -1vw;
    bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    z-index: 10;
    @media screen and(max-width: 1024px) {
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .ser-prev {
    position: relative;
    padding: 15px;
    //border: 1px solid #f00;
    transition: 1s;
    transform: scale(1);
    @media screen and(min-width: 1199px) {
      &:hover {
        transition: 1s;
        transform: scale(1.2);
      }
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 0%;
      content: "";
      width: 20px;
      height: 20px;
      border-top: 5px solid #66bf97;
      border-left: 5px solid #66bf97;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
  .ser-next {
    position: relative;
    padding: 15px;
    //border: 1px solid #f00;
    transition: 1s;
    transform: scale(1);
    @media screen and(min-width: 1199px) {
      &:hover {
        transition: 1s;
        transform: scale(1.2);
      }
    }
    &::after {
      position: absolute;
      top: 50%;
      right: 00%;
      content: "";
      width: 20px;
      height: 20px;
      transform: translateY(-50%) rotate(45deg);
      border-top: 5px solid #66bf97;
      border-right: 5px solid #66bf97;
    }
  }
}

.ser-pagination {
  width: 170px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -18%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 3;
  background-color: #000;
  @media screen and(max-width: 1024px) {
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
}

.span__black {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 16%;
  background-color: #000;
  //border: 1px solid #f00;
  transform: translateX(-50%) translateY(-50%);
  @media screen and(max-width: 1024px) {
    width: 150px;
    height: 30px;
    left: 50%;
    background-color: #191919;
  }
  //border: 1px solid #f00;
}

.ser2-pagination {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
  left: 14%;
  width: 30px;
  //border: 1px solid #f00;
  color: $mainColor;
  z-index: -1;
  font-size: vw-dsk(28);
  font-family: "Archivo Black";
  @media screen and(max-width: 1024px) {
    font-size: vw-mbl(14);
    left: 10%;
    flex-direction: row;
    width: 90%;
    height: 30px;
    left: 50%;
    align-items: center;
    transform: translateX(-45%) translateY(-50%);
  }
  @media screen and(max-width:767px) {
    font-size: vw-mbl(28);
  }
  span {
    color: $mainColor;
  }
  .swiper-pagination-current {
    position: relative;
    &::before {
      position: absolute;
      content: "0";
      transform: translateX(-100%);
    }
  }
  .swiper-pagination-total {
    color: #696969;
    position: relative;
    &::before {
      position: absolute;
      content: "0";
      transform: translateX(-100%);
    }
  }
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  .slide__img {
    &::before {
      left: 0%;
      width: 100%;
      transition-delay: 0s;
    }
    &::after {
      width: 0%;
      transition-delay: 0s;
    }
  }
}

.common-footer {
  @media screen and(max-width: 1024px) {
    margin-top: 50px;
  }
}
