.common-footer {
  //border: 1px solid #000;
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  margin-top: 80px;
  &::before {
    position: absolute;
    content: "";
    width: 87.5vw;
    height: 1px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-1px);
    background-color: #efefef;
    z-index: -1;
    @media screen and(max-width:1024px) {
      z-index: 10;
    }
  }
}

@keyframes scrollup {
  0% {
    top: 32px;
    opacity: 1;
  }
  100% {
    top: 18px;
    opacity: 0;
  }
}

.btn__backup {
  top: 0;
  position: absolute;
  left: 50%;
  transform: translateY(-150%) translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  //border: 1px solid #f00;
  background-color: #fafafa;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.07);
  .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 12px;
    height: 12px;
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: scrollDown 1.5s infinite;
    animation-direction: alternate;
  }
  //border: 1px solid #000;
  // &::after {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%) rotate(-45deg);
  //   content: "";
  //   width: 12px;
  //   height: 12px;
  //   border-right: 3px solid #000;
  //   border-top: 3px solid #000;
  // }
}

.copy__area {
  font-family: "Myriad Pro";
  display: flex;
  align-items: center;
  margin-left: 6.77vw;
  font-size: 14px;
  color: #191919;
  font-weight: 600;
  @media screen and(max-width: 1024px) {
    margin-left: 55px;
  }
  @media screen and(max-width: 767px) {
    margin-top: 10px;
    margin-left: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.comosbtn {
  //comos
  margin-left: 40px;
  @media screen and(max-width: 767px) {
    margin-top: 10px;
    margin-left: 0px;
  }
}

.email {
  //立即聯繫
  font-family: "Noto Sans CJ Ktc";
  width: 285px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 3;
  background-color: #66bf97;
  font-size: 18px;
  letter-spacing: 0.9px;
  color: #fafafa;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  @media screen and(max-width: 1024px) {
    width: 65px;
    height: 65px;
  }
}

.tri {
  //旁邊三角型裝飾品
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 360px 200px;
  border-color: transparent transparent #66bf97 transparent;
  @media screen and(max-width: 1024px) {
    border-width: 0 0 180px 110px;
  }
}

.tri-bk {
  //旁邊三角型裝飾品
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 345px 190px;
  border-color: transparent transparent #000 transparent;
  @media screen and(max-width: 1024px) {
    border-width: 0 0 165px 100px;
  }
}

.showmsg {
  position: absolute;
  right: 5%;
  bottom: 0;
  z-index: -1;
  width: 38%;
  height: 450px;
  background-color: #232323;
  opacity: 0;
  transition: 1s;
  .msg__txt {
    width: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
  }
  .showen_title {
    font-family: "Archivo Black";
    font-size: 36px;
    color: #e1e1e1;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .showch_title {
    font-family: "Noto Sans CJ Ktc";
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
    margin-bottom: 30px;
  }
  .showinfo {
    font-family: "Noto Sans CJ Ktc";
    color: #fafafa;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    line-height: 1.8;
  }
  .infoset {
    margin-bottom: 25px;
  }
  .showbtn {
    display: inline-block;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: #66bf97;
    font-family: "Noto Sans CJ Ktc";
    color: #fafafa;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    margin-top: 50px;
  }
}

.show__close {
  position: absolute;
  right: 70px;
  bottom: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //border: 1px solid #000;
  .close__line {
    width: 35px;
    background-color: #fff;
    height: 2px;
  }
}

.close__linea {
  transform: rotate(45deg);
}

.close__lineb {
  transform: translateY(-2px) rotate(-45deg);
}

.showmsg.active {
  opacity: 1;
  z-index: 10;
}

.email2 {
  font-family: "Noto Sans CJ Ktc";
  width: 285px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 3;
  background-color: #66bf97;
  font-size: 18px;
  letter-spacing: 0.9px;
  color: #fafafa;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  @media screen and(max-width: 1024px) {
    width: 65px;
    height: 65px;
  }
}
