html.active {
  body {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

body {
  font-family: "Noto Sans CJ Ktc";
}

@keyframes scrollDown {
  0% {
    top: 18px;
    opacity: 1;
  }
  100% {
    top: 32px;
    opacity: 0;
  }
}

.gotoSe2 {
  //滑到第二畫面按鈕基本設定
  position: absolute;
  bottom: 6.5vw;
  left: 3vw;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  //border: 1px solid #f00;
  background-color: #fafafa;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.07);
  //border: 1px solid #000;
  z-index: 5;
  .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 12px;
    height: 12px;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: scrollDown 1.5s infinite;
  }
  &::after {
  }
}

.common-header {
  //header最上面區域
  position: absolute;
  top: 0;
  width: 100%;
  // border: 1px solid #000;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 12vw;
  pointer-events: none;
  //border: 1px solid #f00;
  height: 0;
  overflow: hidden;
  @media screen and(max-width: 1024px) {
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    transition: 1s;
    padding-bottom: 0;
    height: 100vh;
    &.active {
      position: fixed;
      transition: 1s;
      background-color: #000;
    }
  }
}

// .common-header.active {
//   position: fixed;
// }
.main__logo {
  width: 17.18vw;
  position: relative;
  height: 0;
  padding-bottom: 8.5vw;
  pointer-events: initial;
  //border: 1px solid #000;
  @media screen and(max-width: 1024px) {
    width: 125px;
    padding-bottom: 0;
    height: 60px;
    transform: translateX(30px) translateY(25%);
  }
  > .index__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: vw-dsk(50);
    margin-left: vw-dsk(60);
    @media screen and(max-width: 1024px) {
      margin-top: 0;
      margin-left: 0;
    }
    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

.layout__list {
  //選單全部區域
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  display: flex;
  transform: skew(-30deg) translateX(30px);
  color: #fff;
  padding-right: 200px;
  padding-left: 90px;
  font-family: "Noto Sans CJ Ktc";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.9px;
  opacity: 0;
  transition: 1s;
  &::before {
    position: absolute;
    left: -10px;
    bottom: 0;
    content: "";
    width: 10px;
    height: 50px;
    background-color: $mainColor;
  }
  @media screen and(max-width: 1024px) {
    background-color: transparent;
    padding-right: 0px;
    padding-left: 40px;
    width: 100%;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%) skew(0deg);
  }
  &.active {
    opacity: 1;
    pointer-events: initial;
  }
  li {
    //單一選項
    //border: 1px solid #f00;
    transform: skew(30deg);
    padding-top: vw-dsk(30);
    padding-bottom: vw-dsk(30);
    padding-left: vw-dsk(45);
    padding-right: vw-dsk(45);
    @media screen and(max-width: 1024px) {
      transform: skew(0deg);
      padding-top: vw-mbl(15);
      padding-bottom: vw-mbl(15);
      padding-left: 0;
      padding-right: 0;
    }
    @media screen and(max-width:767px) {
      padding-top: vw-mbl(25);
      padding-bottom: vw-mbl(25);
    }
  }
  .item {
    transition: 1s;
    &:hover {
      transition: 1s;
      color: $mainColor;
    }
  }
}

.btn__area {
  position: fixed;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 30px;
  //border: 1px solid #f00;
  cursor: pointer;
  pointer-events: initial;
  right: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 3.38vw;
  z-index: 1000;
  .line__mbl {
    transition: 1s;
    opacity: 1;
  }
  .lina__a {
    transition: 1s;
    transform: translateY(0px) rotate(0deg);
  }
  .line__b {
    transition: 1s;
    transform: translateY(0px) rotate(0deg);
  }
  &.active {
    position: fixed;
    transition: 1s;
    top: 2vw;
    .menu__line {
      background-color: #fff;
    }
    .line__mbl {
      transition: 1s;
      opacity: 0;
    }
    .line__a {
      width: 30px;
      transition: 1s;
      transform: translateY(18px) rotate(45deg);
    }
    .line__b {
      width: 30px;
      transition: 1s;
      transform: translateY(-10px) rotate(-45deg);
    }
  }
  @media screen and(max-width: 1024px) {
    top: 5vw;
    width: 30px;
    height: 20px;
    &.active {
      transition: 1s;
      top: 5vw;
      .menu__line {
        background-color: #ffff;
      }
      .line__mbl {
        transition: 1s;
        opacity: 0;
      }
      .line__a {
        transition: 1s;
        transform: translateY(8px) rotate(45deg);
      }
      .line__b {
        transition: 1s;
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
  @media screen and(max-width:767px) {
    top: 10vw;
    &.active {
      top: 14vw;
      right: 6%;
    }
  }
  .menu__line {
    width: 50px;
    height: 3px;
    background-color: #191919;
    @media screen and(max-width: 1024px) {
      width: 30px;
      height: 2px;
    }
  }
}

.language {
  //border: 1px solid #f00;
  .ch__btn {
    padding-left: 30px;
  }
  .en__btn {
    padding-left: 30px;
    padding-right: 20px;
  }
}

.btn__language {
  //桌機語言設定
  font-weight: 700;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 2.8vw;
  right: 10vw;
  opacity: 1;
  transition: 1s;
  //border: 1px solid #000;
  > a {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  &.active {
    transition: 1s;
    opacity: 0;
  }
}

.area__cosmo {
  bottom: 0;
  position: absolute;
  //border: 1px solid #f00;
  width: 100%;
  height: 50%;
  left: 0;
  background-color: $mainColor;
  transform: translateY(75%);
  clip-path: polygon(100% 0, 100% 75%, 75% 100%, 0% 100%);
  @media screen and(max-width: 1024px) {
    transform: translateY(125%);
  }
  @media screen and(max-width:767px) {
    transform: translateY(75%);
  }
  .copyright {
    color: #5e5e5e;
    font-family: "Myriad Pro";
    font-size: 12px;
  }
  .comosbtn {
    color: #5e5e5e;
    font-family: "Myriad Pro";
    font-size: 12px;
    margin-bottom: 10px;
  }
  .txt {
    position: absolute;
    right: 4.5%;
    top: 50%;
    @media screen and(max-width: 1024px) {
      right: 14%;
      top: 54%;
    }
    @media screen and(max-width:767px) {
      right: 4.5%;
      top: 54%;
    }
  }
}

.full__loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #fff;
  opacity: 1;
  transition: 1.5s;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ch__btn {
  opacity: 0.7;
  &.active {
    opacity: 1;
  }
}

.en__btn {
  opacity: 0.7;
}

// .mask-other {
//   position: absolute;
//   z-index: 20;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #fff;
// }
h1 {
  color: $mainColor;
  font-size: 35px;
  letter-spacing: 1.5px;
}

.loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Myriad Pro";
}

.slider {
  position: absolute;
  width: 200px;
  height: 2px;
  margin-top: -30px;
  bottom: 0;
}

.line {
  position: absolute;
  background: $mainColor;
  width: 200px;
  height: 2px;
  bottom: 0;
}

.break {
  position: absolute;
  background: #222;
  width: 6px;
  height: 2px;
  bottom: 0;
}

.dot1 {
  animation: loading 2s infinite;
}

.dot2 {
  animation: loading 2s 0.5s infinite;
}

.dot3 {
  animation: loading 2s 1s infinite;
}

.logo {
  display: inline-block;
  margin-bottom: 35px;
}

@keyframes loading {
  from {
    left: 0;
  }
  to {
    left: 400px;
  }
}
.area__cosmo {
  .copyright {
    @media screen and(max-width:1024px) {
      margin-bottom: 5px;
    }
  }
  .cosmobtn__mbl {
    margin-left: 0;
  }
}
