.btn__area .menu__line {
  background-color: #e0e0e0;
}

.btn__language {
  @media screen and(min-width: 1199px) {
    color: #fff;
  }
}

.ab__se1 {
  //背景圖
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56vw;
  background-color: #000;
  overflow: hidden;
  @media screen and(max-width: 1024px) {
    padding-bottom: 135vw;
    overflow: visible;
  }
  @media screen and(max-width: 767px) {
    padding-bottom: 215vw;
  }
}

.ab__se1bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.main__img {
  //主要顯示的圖
  //border: 1px solid #f00;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 100%);
  //border: 1px solid #f00;
  z-index: 3;
  >img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    @media screen and(max-width: 1024px) {
      object-fit: cover;
    }
  }
  @media screen and(max-width: 1024px) {
    top: 27.5%;
    height: 72.5%;
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
  @media screen and(max-width: 767px) {
    top: 55%;
    height: 45%;
    clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
  }
}

.ab__se1txt {
  //文字區域
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 27.6%;
  @media screen and(max-width: 1024px) {
    width: 55vw;
    left: 35%;
    transform: translateX(-50%);
    top: 15%;
  }
  @media screen and(max-width: 767px) {
    width: 85vw;
    transform: translateX(-50%) translateY(0%);
    left: 50%;
    top: 37vw;
  }
  >.main__title {
    color: $mainColor;
    font-size: vw-dsk(88);
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Arial Bold";
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(20);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(40);
    }
  }
  >.cn__title {
    color: $mainColor;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: vw-dsk(40);
    margin-bottom: vw-dsk(30);
    font-family: "Noto Sans CJ Ktc";
    font-size: vw-dsk(30);
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(9);
      margin-top: vw-mbl(20);
      margin-bottom: vw-mbl(20);
      color: #fff;
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(18);
    }
  }
  >.info {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1.8;
    font-family: "Noto Sans CJ Ktc";
    font-size: vw-dsk(16);
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(7);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
    }
  }
}

@keyframes circle {
  0% {
    opacity: 0;
    clip-path: polygon(65% 0, 100% 0, 100% 0, 65% 0);
  }
  100% {
    opacity: 1;
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 50% 100%);
  }
}

@keyframes circle2 {
  0% {
    opacity: 0;
    clip-path: polygon(0 57%, 0 57%, 0 100%, 0% 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
  }
}

.pro__shadow {
  position: absolute;
  background-color: #66bf97;
  width: 100%;
  height: 60%;
  right: 10.5%;
  bottom: 0;
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 50% 100%);
  animation: circle 3s;
  animation-delay: 7.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  @media screen and(max-width: 1024px) {
    animation: circle2 3s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
    clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
    bottom: 0%;
    right: 0%;
    height: 73.5%;
    width: 90%;
  }
  @media screen and(max-width:767px) {
    clip-path: polygon(0 57%, 100% 0, 100% 100%, 0% 100%);
    height: 46.5%;
  }
}

.dice {
  position: absolute;
  width: 45.8%;
  height: 0;
  padding-bottom: 48vw;
  //border: 1px solid #f00;
  z-index: 20;
  top: 10%;
  transform: scale(0, 0);
  left: 40%;
  @media screen and(max-width: 1024px) {
    //border: 1px solid #f00;
    width: 85%;
    top: 48%;
    left: 0;
    padding-bottom: 90vw;
  }
  @media screen and(max-width: 767px) {
    width: 100%;
    top: 60%;
    padding-bottom: 100vw;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}