.wrap {
  width: vw-dsk(1500);
  // border: 1px solid #f00;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.wrap__card {
  //第一區塊主要地方
  transform: translateY(-75px);
  @media screen and(max-width: 1024px) {
    transform: translateY(0px);
  }
}

.ab1 {
  &_swiper-container {
    width: 80vw;
  }
  &_swiper-wrapper {
    justify-content: space-between;
    @media screen and(max-width: 1024px) {
      justify-content: flex-start;
    }
  }
  &_swiper-slide {
    width: 32.5%;
    @media screen and(max-width: 1024px) {
      width: 100%;
    }
  }
}

.wrap__info {
  //第二區塊主要地方
  padding-top: vw-dsk(15);
  padding-bottom: vw-dsk(125);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media screen and(max-width: 1024px) {
    //background-color: #ccc;
  }
  >.se2__info {
    width: 50%;
    color: #4b4b4b;
    @media screen and(max-width: 1024px) {
      width: 85%;
      padding-top: 45px;
      font-weight: 300;
    }
  }
}

.ab__txt {
  //第一區塊文字設定
  padding-top: vw-dsk(50);
  padding-bottom: vw-dsk(50);
  text-align: center;
  background-color: #000;
  @media screen and(max-width: 1024px) {
    padding-top: vw-mbl(30);
    padding-bottom: vw-mbl(30);
  }
  .txt__num {
    font-size: 36px;
    color: $mainColor;
    font-family: "Archivo Black";
    font-weight: 700;
  }
  .txt__unit {
    font-family: "Noto Sans CJ Ktc";
    color: #fff;
    font-size: 30px;
    font-weight: 700;
  }
  .txt__info {
    color: #ffffff;
    font-family: "Noto Sans CJ Ktc";
    font-size: 18px;
    margin-top: vw-dsk(10);
    @media screen and(max-width: 1024px) {
      margin-top: vw-mbl(5);
    }
    @media screen and(max-width:767px) {
      margin-top: vw-mbl(10);
    }
  }
}

.se2__info {
  //第二區塊文字設定
  font-family: "Noto Sans CJ Ktc";
  font-weight: 300;
  line-height: 1.8;
  font-size: vw-dsk(16);
  @media screen and(max-width: 1024px) {
    font-size: vw-mbl(7);
  }
  @media screen and(max-width: 767px) {
    font-size: vw-mbl(14);
  }
}

.ab__se2 {
  //border: 1px solid #000;
  position: relative;
  z-index: 5;
  @media screen and(max-width: 1024px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.arrow {
  //箭頭
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 10;
  //border: 1px solid #f00;
}

.ab1-prev {
  //border: 1px solid #f00;
  padding: 15px;
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-45deg) translateY(-50%);
    content: "";
    width: 20px;
    height: 20px;
    border-top: 5px solid #323232;
    border-left: 5px solid #323232;
  }
}

.ab1-next {
  //border: 1px solid #f00;
  padding: 15px;
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    content: "";
    width: 20px;
    height: 20px;
    border-top: 5px solid #323232;
    border-right: 5px solid #323232;
  }
}

.ab__img {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 14.58vw;
  @media screen and(max-width: 1024px) {
    padding-bottom: 56vw;
  }
  >img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
  }
}