.ab__se3 {
  //全部的範圍
  position: relative;
  width: 100%;
  height: 0;
  //padding-bottom: 43vw;
  padding-bottom: 55.73vw;
  //border: 1px solid #f00;
  @media screen and(max-width: 1024px) {
    padding-bottom: 90vw;
    //background-color: #ccc;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 110vw;
  }
}

//標題部分
.se3__title {
  position: absolute;
  top: 6.77vw;
  z-index: 2;
  //border: 1px solid #f00;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Noto Sans CJ Ktc";
  font-size: vw-dsk(30);
  letter-spacing: 1.5px;
  color: #61ad93;
  @media screen and(max-width: 1024px) {
    font-size: vw-mbl(9);
  }
  @media screen and(max-width:767px) {
    font-size: vw-mbl(18);
  }
}

.se3__bgcArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  //border: 1px solid #f00;
  padding-bottom: 43.5vw;
  @media screen and(max-width: 1024px) {
    padding-bottom: 68.1875vw;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 108vw;
  }
  >.bgc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  //背景圖區
}

.tiemline__wrap {
  //時間軸全部區域
  // border: 1px solid #f00;
  width: 75.78vw;
  position: absolute;
  top: 64.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and(max-width: 1024px) {
    width: 100vw;
    top: 10%;
    transform: translateX(-50%);
  }
  @media screen and(max-width:767px) {
    top: 20%;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $mainColor;
  border-radius: 50%;
  position: relative;
  >span {
    color: #fff;
  }
}

.ab2_gallery-thumbs {
  //時間軸區域
  //border: 1px solid #f00;
  .swiper-slide {
    position: relative;
    height: 0;
    padding-bottom: 10vw;
    @media screen and(max-width: 1024px) {
      padding-bottom: 40vw;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      z-index: 2;
      top: 50%;
      background-color: #afafaf;
    }
    &::before {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #66bf97;
      border-radius: 50%;
      content: "";
      top: 47.5%;
      left: 50%;
      transform: translateY(-50%);
      z-index: 3;
      transform: scale(1);
      transition: 1s;
    }
    .slide__txt {
      //時間軸顯示外框
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // border: 1px solid #f00;
    }
  }
}

.slide__txt {
  //時間軸文字顯示區域
  text-align: center;
  >.time {
    color: #ffffff;
    font-size: vw-dsk(30);
    font-weight: 700;
    transition: 0.5s;
    margin-bottom: vw-dsk(30);
    transform: translateY(-25%);
    @media screen and(max-width: 1024px) {
      font-size: vw-mbl(15);
      margin-bottom: vw-mbl(30);
      //border: 1px solid #f00;
    }
    @media screen and(max-width: 767px) {
      font-size: vw-mbl(30);
      margin-bottom: vw-mbl(30);
    }
  }
  >.title {
    transition: 0.5s;
    color: #ffffff;
    font-family: "Noto Sans CJ Ktc";
    opacity: 0;
    font-weight: 300;
    letter-spacing: 0.8px;
    font-size: vw-dsk(16);
    margin-top: vw-dsk(30);
    @media screen and(max-width: 1024px) {
      //border: 1px solid #f00;
      font-size: vw-mbl(7);
      margin-top: vw-mbl(30);
    }
    @media screen and(max-width:767px) {
      font-size: vw-mbl(14);
    }
  }
}

.ab2_gallery-thumbs,
.ab2_gallery-top {
  .swiper-slide-active,
  .swiper-slide-thumb-active,
  .swiper-slide-duplicate-active {
    .time {
      //時間地方
      transition: 0.5s;
      @media screen and(min-width: 1199px) {
        transform: translateY(-100%);
        font-size: vw-dsk(52);
      }
    }
    //up10週年位置
    .title {
      opacity: 0.87;
      transition: 0.5s;
      @media screen and(min-width: 1199px) {
        transform: translateY(100%);
      }
    }
    .slideImg {
      position: absolute;
      z-index: 2;
      transform: scale(1.5);
      transition: 0.5s;
      box-shadow: 2vw 2vw 4.5vw -4vw #191919;
      @media screen and(max-width: 1024px) {
        transform: scale(0.77);
      }
    }
    &::before {
      transition: 1s;
      transform: scale(2);
      @media screen and(max-width: 1024px) {}
    }
  }
}

.arrow__btn {
  //時間軸案件按鈕區域
  width: 90%;
  //border: 1px solid #f00;
  display: flex;
  position: absolute;
  top: 30.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  @media screen and(max-width: 1024px) {
    top: 26%;
  }
  @media screen and(max-width:767px) {
    top: 32%;
  }
  .ab2-prev {
    padding: 15px;
    //border: 1px solid #f00;
    position: relative;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotate(-45deg) translateY(-50%);
      content: "";
      width: 30px;
      height: 30px;
      border-top: 7px solid #fff;
      border-left: 7px solid #fff;
      @media screen and(max-width: 767px) {
        width: 20px;
        height: 20px;
      }
    }
  }
  .ab2-next {
    padding: 15px;
    position: relative;
    // border: 1px solid #f00;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      content: "";
      width: 30px;
      height: 30px;
      border-top: 7px solid #66bf97;
      border-right: 7px solid #66bf97;
      @media screen and(max-width: 767px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.slideImg {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 18vw;
  transition: 0.5s;
  @media screen and(max-width: 1024px) {
    padding-bottom: 51vw;
    transform: scale(0.77);
    //border: 1px solid #f00;
  }
  @media screen and(max-width:768px) {
    padding-bottom: 66vw;
  }
  >img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.ab2_gallery-top {
  padding-top: vw-dsk(180);
  padding-bottom: vw-dsk(180);
  @media screen and(max-width: 1024px) {
    padding-top: 0px;
    padding-bottom: 0px;
    transform: translateY(-70px);
  }
  @media screen and(max-width:767px) {
    transform: translateY(-10px);
  }
}

.ab2_gallery__slide {}

.swiper-slide-thumb-active {}

.swiper-slide-active {}