/////////////////////////////////////////
//                                     //
//               往上三角形              //
//                                     //
/////////////////////////////////////////
@mixin triup($height, $width, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 $height $width;
  border-color: transparent transparent $color transparent;
}

/////////////////////////////////////////
//                                     //
//               往下三角形              //
//                                     //
/////////////////////////////////////////
@mixin tridown($height, $width, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $height $width 0 0;
  border-color: $color transparent transparent transparent;
}