@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/family";
.mainContainer {
  width: 100%;
  height: 100%;
}

.index__sewrap {
  // 最外框區域
  width: 92%;
  position: relative;
  right: -8%;
  top: 0;
  background-color: #f5f5f5;
  @media screen and(max-width: 1024px) {
    width: 100%;
    position: relative;
    right: 0%;
    padding-top: 6.5%;
  }
  @media screen and(max-width:767px) {
    padding-top: 18%;
  }
}

//base=====基本大小
// .pro__se1 {
//   position: relative;
//   height: 0;
//   padding-bottom: 61%;
//   overflow: hidden;
//   @media screen and(max-width:1024px) {
//     padding-bottom: 110%;
//   }
//   @media screen and(max-width:767px) {
//     padding-bottom: 150%;
//   }
// }