@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/family";
@import "tri";
@import "page/index/se1";
@import "page/index/se2";
@import "page/index/se3";
@import "page/index/se4";
.go__1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border: 1px solid #f00;
}

.go__2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border: 1px solid #0f0;
}

.go__3,
.go__3__2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.go__4 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border: 1px solid #eff;
}

@keyframes goBall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ise1__ball {
  opacity: 0;
}

.ball__two {
  position: absolute;
  top: 25vh;
  right: 12vw;
  width: 13.5%;

  @media screen and(min-width: 1680px) {
  }
  @media screen and(min-width: 1199px) {
  }
  @media screen and(max-width: 1024px) {
    width: 20%;
    top: 27vh;
    right: 8vw;
  }
}

.ball__two_1 {
  position: absolute;
  top: 25vh;
  right: 12vw;
  width: 13.5%;
  @media screen and(min-width: 1199px) {
  }
  @media screen and(max-width: 1024px) {
    right: 8vw;
    width: 20%;
    border: 1px solid #f00;
  }
  // opacity: 0;
}

.ball-set-2 {
  opacity: 0;
}
