.ab__se1{width:100%;height:100vh;background-repeat:no-repeat;background-size:cover;background:-webkit-linear-gradient(335deg, #7bf 50%, transparent 50%) center center/100% 100%, url("https://picsum.photos/1200/600") right center/auto 100%;background:-o-linear-gradient(335deg, #7bf 50%, transparent 50%) center center/100% 100%, url("https://picsum.photos/1200/600") right center/auto 100%;background:linear-gradient(115deg, #7bf 50%, transparent 50%) center center/100% 100%, url("https://picsum.photos/1200/600") right center/auto 100%}
/*# sourceMappingURL=_se1.css.map */