// google fonts
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Noto+Sans+TC:300,400,500&display=swap&subset=chinese-traditional");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@font-face {
  font-family: "Arial Bold";
  font-weight: bold;
  src: local("Arial-Bold"), url("../font/Arial-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans CJ Ktc";
  src: url("../font/NotoSansCJKtc-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../font/Myriad Pro Bold SemiExtended.ttf");
}

.ff-arc {
  font-family: "Archivo Black";
}

.ff-ari {
  font-family: "Arial Bold";
}

.ff-no {
  font-family: "Noto Sans";
}

// @import url("../font/Arial-Bold.ttf");
.ff-no-sa {
  font-family: "Noto Sans TC";
}

// .ff-mon {
//   font-family: "Montserrat", sans-serif;
// }
// .ff-ro {
//   font-family: "Roboto", sans-serif;
// }
// .ff-arc{
//   font-family: 'Archivo',sans-serif';
// }
// .ff-mm {
//   font-family: "Microsoft JhengHei";
// }
/////////////////////////////////////////
//                                     //
//               字型區域               //
//                                     //
/////////////////////////////////////////
$ff-arb: "Arial Bold";
$ff-nosa: "Noto Sans TC";
$ff-mon: "Montserrat";
$ff-robo: "Roboto";
$ff-arcBk: "Archivo Black";
$ff-micro: "Microsoft JhengHei";
/////////////////////////////////////////
//                                     //
//               字重變數                //
//                                     //
/////////////////////////////////////////
$fw-300: "300";
$fw-500: "500";
$fw-700: "700";
$fw-900: "900";
/////////////////////////////////////////
//                                     //
//               字大小變數              //
//                                     //
/////////////////////////////////////////
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-22: 22px;
$fz-24: 24px;
$fz-26: 26px;
$fz-28: 28px;
$fz-30: 30px;
$fz-32: 32px;
$fz-34: 34px;
$fz-36: 36px;
$fz-38: 38px;
$fz-40: 40px;