<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/about.css" />

  <script>
    const pageData = {
      "se1": {
        "title": "企业理念1",
        "info": "Upbet成立于2000年, 是全台湾最大的运动赛事下注平台，提供一站式营运管理服务，其产品包含：程序运作、多功能后台支持、自适应移动装置。旗下客户遍及亚洲地区、目前在亚洲共有50个服务据点、10家驻点办公室、超过100多家合作的赌场及娱乐场。",
        "mainImg1": 'html/img/about/mainbg_about.jpg',
        "mainImg1mbl": "html/img/about/about_banner_phone.png",
        "mainalt": "",
      },
      "se2Info": "凭借着勤奋不懈、高质量、高稳定度的口碑，在各国客户眼中是信誉优良的最佳供货商，也是值得信赖的合作伙伴。除了享誉高质量的博弈机台，供应予亚洲地区营运场所，近期更积极跨入手机休闲博奕游戏产业，期待给国人更多机会认识Upbet全方位休闲娱乐产品的开发能力。",
      "se2": [{
        "num": "50",
        "unit": "個",
        "info": "服务据点",
        "img": "html/img/about/se2-01-dsk.jpg",
        "alt": ""
      }, {
        "num": "10",
        "unit": "家",
        "info": "駐點辦公室",
        "img": "html/img/about/se2-02-dsk.jpg",
        "alt": ""
      }, {
        "num": "100",
        "unit": "家",
        "info": "合作賭場",
        "img": "html/img/about/se2-03-dsk.jpg",
        "alt": ""
      }],
      "se3bgc": "html/img/about/se3-bg-dsk.jpg",
      "se3bgcalt": "",
      "se3": [{
        "year": "A1979",
        "info": "UPbet创立十周年",
        "img": "html/img/about/about_time_1.png",
        "alt": ""
      }, {
        "year": "B1979",
        "info": "UPbet创立十周年",
        "img": "html/img/about/about_time_2.png",
        "alt": ""
      }, {
        "year": "C1979",
        "info": "UPbet创立十周年",
        "img": "html/img/about/about_time_3.png",
        "alt": ""
      }, {
        "year": "D1979",
        "info": "UPbet创立十周年",
        "img": "html/img/about/se3-slider-02.jpg",
        "alt": ""
      }, {
        "year": "E1979",
        "info": "UPbet创立十周年",
        "img": "html/img/about/se3-slider-02.jpg",
        "alt": ""
      }]
    };
  </script>
</head>

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->
    <section class="ab__se1">
      <!-- <div class="dice__img">
        <img class="light" src="html/img/about/test.png" alt="">
        <img class="dice" src="html/img/about/dice1.png" alt="">
      </div> -->
      <img class="ab__se1bgc dsk" src="html/img/layout/grid-b.png">
      <div class="pro__shadow"></div>
      <div class="main__img abomainImg">
        <!-- :style="pageData.se1.mainimg" -->
        <img class="real__img dsk" :src="pageData.se1.mainImg1" :alt="pageData.se1.mainalt">
        <img class="real__img mbl" :src="pageData.se1.mainImg1mbl" :alt="
        pageData.se1.mainalt">
      </div>
      <div class="dice">
        <img src="html/img/about/dice1.png" alt="">
      </div>
      <div class="ab__se1txt">
        <h2 class="main__title">ABOUT US</h2>
        <h3 class="cn__title">
          <% pageData.se1.title %>
        </h3>
        <p class="info">
          <% pageData.se1.info %>
        </p>
      </div>
      <div class="gotoSe2 dsk" id="gotoSe2">
        <div class="arrow"></div>
      </div>
    </section>
    <section class="ab__se2">
      <div class="wrap wrap__card">
        <div class="swiper-container ab1_swiper-container">
          <div class="swiper-wrapper ab1_swiper-wrapper">
            <div class="swiper-slide ab1_swiper-slide" v-for="card in pageData.se2">
              <div class="ab__card">
                <!-- 圖片區域 -->
                <div class="ab__img">
                  <img :src="card.img" :alt="card.alt">
                </div>
                <!-- 文字區域 -->
                <div class="ab__txt">
                  <h2 class="title">
                    <span class="txt__num">
                      <% card.num %>
                    </span>
                    <span class="txt__unit">
                      <% card.unit %>
                    </span>
                  </h2>
                  <p class="txt__info">
                    <% card.info %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 卡片區域 -->
      </div>
      <!-- Add Arrows -->
      <div class="arrow mbl">
        <div class="swiper-button-prev ab1-prev"></div>
        <div class="swiper-button-next ab1-next"></div>
      </div>
      <div class="wrap wrap__info">
        <p class="se2__info">
          <% pageData.se2Info %>
        </p>
      </div>
    </section>
    <section class="ab__se3">
      <!-- 背景圖區域 -->
      <div class="se3__bgcArea">
        <img class="bgc" :src="pageData.se3bgc" :alt="pageData.se3bgcalt">
      </div>
      <h2 class="se3__title">
        企业沿革
      </h2>
      <div class="tiemline__wrap">
        <!-- 時間軸區域 -->
        <div class="swiper-container ab2_gallery-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide time_swiper-wrapper" v-for="card in pageData.se3">
              <div class="slide__txt">
                <p class="time">
                  <% card.year %>
                </p>
                <h2 class="title">
                  <% card.info %>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- 顯示區域 -->
        <div class="swiper-container ab2_gallery-top">
          <div class="swiper-wrapper">
            <div class="swiper-slide ab2_gallery__slide" v-for="card in pageData.se3">
              <div class="slideImg">
                <img :src="card.img" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="arrow__btn">
        <!-- Add Arrows -->
        <div class="swiper-button-prev ab2-prev"></div>
        <div class="swiper-button-next ab2-next"></div>
      </div>
    </section>

    <div id="anchorScrollDown"></div>

    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="html/js/about.min.js"></script>
</body>

</html>