<meta charset="UTF-8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Upbet</title>
<!-- 字體設定 -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC"
      rel="stylesheet" />
<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="html/images/favicon.ico" />

<!-- common -->
<link rel="stylesheet" href="html/css/common.css" />

<!-- =============================================== -->
<!-- <link rel=“canonical” href=“{指定的標準連結}" /> -->
<!-- <meta name="robots" content="noindex"> -->
<meta name="keywords" content="{web_keywords}" />
<meta name="description" content="{web_description}" /> {headjs}
{default-headjs}

<script>
  const commonData = {
    "logodsk": "html/img/layout/logo-dsk.png",
    "logombl": "html/img/layout/logo-mbl.png",
    "logoalt": "",
    "footer": {
      "title": "想要在亚洲拓展您的品牌触角吗？",
      "info1": "我们透过认证过的第三方解决方案供应商，提供提供所有功能、投注类型后端工具，并搭配完全托管的统包解决方案。",
      "info2": "针对软体和定价等解决方案之授权， UPBet集团通常会收取一笔小额的建置费用， 并根据营收持续收取月费。"
    }
  };
</script>