<footer id="commonFooter" class="common-footer">
  <div class="btn__backup dsk" id="upTop">
    <div class="arrow"></div>
  </div>
  <div class="copy__area">
    <p class="copyright">
      Copyright&copy;2019 UPBet
    </p>
    <div class="comosbtn">
      Designed by<a href="https://www.cosmo-br.com/" class="cosmo">&ensp;COSMO.</a>
    </div>
  </div>
  <a class="email dsk">
    <span class="icon">
      <img src="html/img/layout/email-icon.png" alt="">
    </span>
    <span class="txt dsk">立即联系</span>
  </a>
  <a class="email2 mbl" href="contact.php">
    <span class="icon">
      <img src="html/img/layout/email-icon.png" alt="">
    </span>
  </a>
  <div class="tri"></div>
  <div class="tri-bk"></div>
  <div class="showmsg dsk">
    <div class="msg__txt">
      <h2 class="showen_title">btn__language</h2>
      <h3 class="showch_title">
        <% commonData.footer.title %>
      </h3>
      <p class="showinfo infoset" v-html="commonData.footer.info1">

      </p>
      <p class="showinfo" v-html="commonData.footer.info2">
        <!-- 针对软体和定价等解决方案之授权， UPBet集团通常会收取一笔小额的建置费用， 并根据营收持续收取月费。 -->
      </p>
      <a class="showbtn" href="contact.php">
        填写表单
      </a>
    </div>
    <div class="show__close">
      <div class="close__line close__linea"></div>
      <div class="close__line close__lineb"></div>
    </div>
  </div>
</footer>