.index__se2{width:100%;height:100vh;background-repeat:no-repeat;background-size:cover;position:relative;background:-webkit-linear-gradient(335deg, #000 60%, transparent 60%) center center/100% 100%, url("https://picsum.photos/1200/600") right center/auto 100%;background:-o-linear-gradient(335deg, #000 60%, transparent 60%) center center/100% 100%, url("https://picsum.photos/1200/600") right center/auto 100%;background:linear-gradient(115deg, #000 60%, transparent 60%) center center/100% 100%, url("https://picsum.photos/1200/600") right center/auto 100%}
/*# sourceMappingURL=_se2.css.map */