<header id="commonHeader" class="common-header">
  <h1 class="main__logo">
    <a class="index__link" href="index.php">
      <img class="dsk" :src="commonData.logodsk" :alt="commonData.alt">
      <img class="mbl" :src="commonData.logombl" :alt="commonData.alt">
    </a>
  </h1>
  <ul class="layout__list">
    <li class="item">
      <a href="about.php">关于我们</a>
    </li>
    <li class="item">
      <a href="services.php">客制化服务</a>
    </li>
    <li class="item">
      <a href="product.php">产品服务</a>
    </li>
    <li class="item">
      <a href="news.php">最新消息</a>
    </li>
    <li class="item">
      <a href="contact.php">联络我们</a>
    </li>
    <li class="language dsk">
      <a class="ch__btn" href="javascripts:;">ch</a>
      <a class="en__btn" href="javascripts:;">En</a>
    </li>
  </ul>
  <!-- 選單全部區域 -->
  <div class="btn__area">
    <span class="menu__line line__a"></span>
    <span class="menu__line line__mbl"></span>
    <span class="menu__line line__b"></span>
  </div>
</header>