<footer id="commonFooter" class="common-footer">
  <div class="btn__backup dsk" id="upTop">

  </div>
  <div class="copy__area">
    <p class="copyright">
      Copyright&copy;2019 UPBet
    </p>
    <div class="comosbtn">
      Designed by<a href="https://www.cosmo-br.com/" class="cosmo">COSMO.</a>
    </div>
  </div>
  <a class="email" href="contact.php">
    <span class="icon">
      <img src="html/img/layout/email-icon.png" alt="">
    </span>
    <span class="txt dsk">立即联系</span>
  </a>
  <div class="tri"></div>
  <div class="tri-bk"></div>
</footer>