<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/index.css" />

  <script>
    const pageData = {
      "ise1": [{
        "mainimg": "",
        "moveimg": "",
        "movesmallimg": "",
        "mainalt": "",
        "movealt": "",
        "movesmallalt": "",
        "bgc": "html/img/layout/grid-w.png",
        "bgcalt": "",
        "sliderbgc": `background-image: url('html/img/test.jpg');`,
        "slideralt": "",
        "mainTitle": "各式精彩球类赛事资金挹注",
        "info": "亚洲区指定赛事竞猜平台，针对运动赛事量身订做，平台的规划功能齐全，安全性高，赔率换算精确。",
        "bgcTitle": "SOCCER"
      }, {
        "mainimg": "",
        "moveimg": "",
        "movesmallimg": "",
        "mainalt": "",
        "movealt": "",
        "movesmallalt": "",
        "bgcalt": "",
        "bgc": "html/img/layout/grid-w.png",
        "sliderbgc": "html/img/layout/bg.png",
        "slideralt": "",
        "mainTitle": "各式精彩球类赛事资金挹注",
        "info": "亚洲区指定赛事竞猜平台，针对运动赛事量身订做，平台的规划功能齐全，安全性高，赔率换算精确。",
        "bgcTitle": "SOCCER"
      }, {
        "mainimg": "",
        "moveimg": "",
        "movesmallimg": "",
        "mainalt": "",
        "movealt": "",
        "movesmallalt": "",
        "bgc": "html/img/layout/grid-w.png",
        "bgcalt": "",
        "sliderbgc": "html/img/layout/bg.png",
        "slideralt": "",
        "mainTitle": "各式精彩球类赛事资金挹注",
        "info": "亚洲区指定赛事竞猜平台，针对运动赛事量身订做，平台的规划功能齐全，安全性高，赔率换算精确。",
        "bgcTitle": "SOCCER"
      }],
      "ise2": [{
        "bgc": "html/img/index/se2-slide-01-dsk.jpg",
        "bgcalt": "",
        "icon": "html/img/index/se2-icon01.png",
        "iconalt": "",
        "title": "流畅的下注体验",
      }, {
        "bgc": "html/img/index/se2-slide-02-dsk.jpg",
        "bgcalt": "",
        "icon": "html/img/index/se2-icon02.png",
        "iconalt": "",
        "title": "高校稳定的程式运作高校稳定的程式运作高校稳定的程式运作",

      }, {
        "bgc": "html/img/index/se2-slide-03-dsk.jpg",
        "bgcalt": "",
        "icon": "html/img/index/se2-icon03.png",
        "iconalt": "",
        "title": "多功能后台支援",

      }, {
        "bgc": "html/img/index/se2-slide-04-dsk.jpg",
        "bgcalt": "",
        "icon": "html/img/index/se2-icon04.png",
        "iconalt": "",
        "title": "自适应移动装置",

      }],
      "ise2txt": [{
        "info": "足球联盟现场赛事",
        "infoNum": "5000",
      }, {
        "info": "足球联盟现场投注类型",
        "infoNum": "18000",
      }, {
        "info": "其他现场赛事",
        "infoNum": "1800",
      }, {
        "info": "其他現場投注類型",
        "infoNum": "3000",
      }],
      "ise3": {
        "mainTitle": "现场赛事与投注流动资金",
        "info": "艺术和尖端的技术来制作高品质的HTML5游戏<br>我们不断的追求与超越思想框架去创造创新的游戏与玩法，这些都<br>呈现在我们的各种投注中。",
        "bgcdsk": "html/img/index/index-bgc-dsk.jpg",
        "bgcmbl": "html/img/index/index-bgc-mbl.jpg",
        "alt": "",
        "href": "",
      },
      "ise4": [{
        "mainImg": "html/img/index/se4-01-dsk.jpg",
        "alt": "",
        "data": "2019.10.07",
        "title": "2019 G2E 亚洲国际博彩娱乐展",
        "info": "第二届亚洲娱乐高峰论坛将在台北W饭店与您见面。各国的博弈专家将讨论...",
      }, {
        "mainImg": "html/img/index/se4-02-dsk.jpg",
        "alt": "",
        "data": "2019.10.08",
        "title": "年收105亿!这行业传最高薪水",
        "info": "英國《衛報》報導,在去年賭客們總共在這網站中揮灑了525億英鎊的數字...",
      }]
    };
  </script>
</head>

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->


    <section class="index__se1">
      <div class="swiper-container ise1_swiper-container">
        <div class="swiper-wrapper ise1_swiper-wrapper">
          <div class="swiper-slide ise1_swiper-slide" v-for="card in pageData.ise1">
            <div class="ise1__card">
              <!-- 後面線背景圖 -->
              <div class="ise1__card-img">
                <img class="bgc__line" :src="card.bgc" :alt="card.bgcalt">
                <!-- 後面線背景圖 -->
                <!-- 裝飾線 -->
                <!-- 裝飾線 -->
                <div class="main__bgc" :style="card.sliderbgc"></div>
                <img class="people" src="html/img/index/moveimg-01.png" alt="">
                <img class="ball" src="html/img/index/movesmall-01.png" alt="">
              </div>
              <div class="main__txt">
                <!-- 文字顯示區域 -->
                <p class="show__item">
                  <% card.bgcTitle %>
                </p>
                <h2 class="title">
                  <% card.mainTitle %>
                </h2>
                <p class="info" v-html="card.info">
                </p>

              </div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->

        <div class="swiper-pagination ise1_swiper-pagination"></div>

        <div class="arrow dsk">
          <!-- Add Arrows -->
          <div class="swiper-button-prev ise1-prev"></div>
          <div class="swiper-button-next ise1-next"></div>
        </div>
      </div>
      <div class="gotoSe2 dsk" id="gotoSe2"></div>
    </section>
    <!-- 第二個區域 -->
    <!-- 第二個區域 -->
    <!-- 第二個區域 -->
    <section class="index__se2">
      <div class="black__bgc">
        <div class="real__bgc"></div>
      </div>
      <div class="swiper-container ise2_swiper-container">
        <div class="swiper-wrapper ise2_swiper-wrapper">
          <div class="swiper-slide ise2_swiper-slide" v-for="card in pageData.ise2">
            <!-- 卡片區域 -->
            <div class="ise2__card">
              <!-- 圖片區域 -->
              <img class="ise2__img" :src="card.bgc" :alt="card.bgcalt">
              <div class="img__txt">
                <div class="icon">
                  <img :src="card.icon" :alt="card.iconalt">
                </div>
                <h3 class="img__title">
                  <% card.title %>
                </h3>
              </div>
              <!-- 卡片區域 -->
            </div>
          </div>
        </div>
      </div>
      <div class="ise2__btn mbl">
        <!-- 手機版輪播 -->
        <!-- Add Arrows -->
        <div class="swiper-button-prev ise2-prev"></div>
        <div class="swiper-button-next ise2-next"></div>
      </div>
      <!-- 文字選項全部區域 -->
      <div class="ise2__items">
        <div class="ise2__txtshow" v-for="card in pageData.ise2txt">
          <div class="ise2__txt">
            <!-- 文字區域 -->
            <h2 class="title">
              <span class="num">
                <% card.infoNum %>
              </span>
              <span class="unit">场</span>
            </h2>
            <a class="info" href="">
              <% card.info %>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- 第三個區域 -->
    <!-- 第三個區域 -->
    <!-- 第三個區域 -->
    <section class="index__se3">
      <img class="bgc dsk-2" :src="pageData.ise3.bgcdsk" :alt="pageData.ise3.alt">
      <img class="bgc mbl-2" :src="pageData.ise3.bgcmbl" alt="">
      <div class="ise3__txtmask">
        <div class="real__show">
          <h2 class="title">SERVICE</h2>
          <h3 class="sec__title">
            <% pageData.ise3.mainTitle %>
          </h3>
          <p class="info" v-html="pageData.ise3.info">
          </p>
          <a class="link__btn" href="javascripts:;">
            <span>view more</span>
          </a>
        </div>
      </div>
    </section>
    <!-- 第四個區域 -->
    <!-- 第四個區域 -->
    <!-- 第四個區域 -->
    <section class="index__se4">
      <div class="swiper-container ise4_swiper-container">
        <div class="swiper-wrapper ise4_swiper-wrapper">
          <div class="swiper-slide ise4_swiper-slide" v-for="card in pageData.ise4">
            <!-- 卡片區域 -->
            <div class="ise4__card">
              <div class="ise4__img">
                <img class="real__img" :src="card.mainImg" :alt="card.alt">
              </div>
              <div class="ise4__txt">
                <div class="real__txt">
                  <p class="data__show">
                    <% card.data %>
                  </p>
                  <div class="info__show">
                    <h2 class="title">
                      <% card.title %>
                    </h2>
                    <p class="info" v-html="card.info">
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="is4__point">
        <!-- 點手機版會出現 -->
        <!-- Add Pagination -->
        <div class="swiper-pagination ise4_swiper-pagination"></div>
      </div>
    </section>
    <div id="anchorScrollDown"></div>

    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.2.0/dist/simpleParallax.min.js"></script>
  <script src="html/js/index.min.js"></script>
</body>

</html>