<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/news-in.css" />

  <script>
    const pageData = {
      "title": "G2E Asia亚洲国际娱乐展",
      "sectitle": "Upbet 跃展菲律宾Upbet 跃展菲律宾Upbet 跃展菲律宾",
      "info": "Upbet将以亚洲系统供应商地位出席参展，与全球各方先进鼎力支持第一届G2E Asia菲律宾展。<br>展览资讯 : 2019年12月3-4日于马尼拉万豪酒店举行 / 展位718Upbet将以亚洲系统供应商地位出席参展，与全球各方先进鼎力支持第一届G2E Asia菲律宾展。<br>展览资讯 : 2019年12月3-4日于马尼拉万豪酒店举行 / 展位718",
      "data": "2019.11.18",
      "style": `background-image: url('html/img/layout/bg.png');`,
    };
  </script>
</head>

<body>

  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->
    <section class="newsin__se1 ">
      <div class="contact__se1bgc" :style="pageData.style">
        <!-- 圖片區域 -->
      </div>
      <div class="new__info">
        <!-- 文字實際顯示區域 -->
        <div class="title__area">
          <!-- 內文標題 -->
          <h2 class="main__title">
            NEWS
          </h2>
          <!-- 第二標題 -->
          <h3 class="sec__title">
            <% pageData.title %>
          </h3>
        </div>
        <div class="info__area">
          <h2 class="title">
            <% pageData.sectitle %>
          </h2>
          <span class="data">
            <% pageData.data %>
          </span>
          <p class="info" v-html="pageData.info">

          </p>
        </div>
        <div class="newbtn__area">
          <a class="back__btn" href="news.php">
            <span class="line"></span>
            <span>back</span>
          </a>
        </div>

      </div>
    </section>
    <div class="contact__se1 mbl">
      <div class="img__area">
        <img src="" alt="">
      </div>
    </div>
    <div id="anchorScrollDown"></div>

    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="html/js/news-in.min.js"></script>
</body>

</html>