<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/news.css" />

  <script>
    const pageData = {
      "se1": {
        "bgcstyle": `background-image: url('html/img/layout/bg.png');`,
      },
      "item": [{
        "list": "體育賽事"
      }, {
        "list": "活动预告"
      }, {
        "list": "营运快报"
      }],
      "se2": [{
        "img": "html/img/news/card-01.jpg",
        "href": "news-in.php",
        "alt": "",
        "data": "2019.11.18",
        "title": "G2E Asia亚洲国际娱乐展",
        "info": "Upbet将以亚洲系统供应商地位出席参展，与全球各方先进鼎力支持第一...",
        "type": "體育賽事"
      }, {
        "img": "html/img/news/card-02.jpg",
        "href": "news-in.php",
        "alt": "",
        "data": "2019.11.18",
        "title": "用户等级新功能启用",
        "info": "BBIN为提升会员账号价值，新增【用户等级】功能，开放厅主自行设定...",
        "type": "體育賽事"
      }, {
        "img": "html/img/news/card-03.jpg",
        "href": "news-in.php",
        "alt": "",
        "data": "2019.11.18",
        "title": "2019 G2E 亚洲国际博彩娱乐展",
        "info": "第二届亚洲娱乐高峰论坛将在台北W饭店与您见面。各国的博弈专家将讨论...",
        "type": "活动预告"
      }, {
        "img": "html/img/news/card-04.jpg",
        "href": "news-in.php",
        "alt": "",
        "data": "2019.11.18",
        "title": "年收105亿!这行业传最高薪水",
        "info": "英國《衛報》報導,在去年賭客們總共在這網站中揮灑了525億英鎊的數字...",
        "type": "营运快报"
      },]
    };
  </script>
</head>

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->

    <section class="news__se1">
      <img class="bgc dsk" src="html/img/layout/grid-w.png">
      <!-- 陰影 -->
      <div class="news__shadow"></div>
      <div class="news__img" :style="pageData.se1.bgcstyle"></div>
      <!-- <img class="real__img" src="html/img/layout/bg.png" alt=""> -->
      </div>
      <div class="bgc__color"></div>
      <div class="news__txt">
        <h2 class="news__title">news</h2>
        <p class="news__info">最新消息</p>
        <!-- 下拉 -->
        <div class="ds_select">
          <div class="ds_label ds_placeholder">
            選擇分類
          </div>
          <ul class="ds_list">
            <!-- <li class="list--out" @click="filter = '選擇分類'">全部</li> -->
            <li v-for="(value,index) in pageData.item" class="liAni" :key="pageData.item.list"
                @click="filter = value.list">
              <a class="ff-no-sa fw-500 c-50 fz-mbl-14">
                <% value.list %>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="gotoSe2 dsk" id="gotoSe2">

      </div>
    </section>
    <section class="news__se2">
      <div class="wrap">
        <div class="news__card" v-for="(card,index) in selectData">
          <a class="card__img" :href="card.href">
            <img class="img" :src="card.img" :alt="card.alt">
          </a>
          <div class="card__txt">
            <div class="real__txt">
              <div class="data__area">
                <p class="data__show">
                  <% card.data %>
                </p>
                <div class="card__type">
                  <% card.type %>
                </div>
              </div>
              <div class="info__show">
                <h2 class="title">
                  <% card.title %>
                </h2>
                <p class="info" v-html="card.info"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="anchorScrollDown"></div>

    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="html/js/news.min.js"></script>
</body>

</html>