<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/product.css" />

  <script>
    const pageData = {
      "se1": {
        "title": "艺术和尖端的技术来制作高品质的HTML5游戏",
        "info": "我们不断的追求与超越思想框架去创造创新的游戏与玩法，这些都呈现在我们的各种投注中。我们力求通过惊人的艺术和尖端的技术来制作高品质的HTML5游戏来吸引，娱乐和保持玩家的兴奋心情。",
        "mainimg": `background-image: url('html/img/layout/bg.png');`
      },
      "se2": {
        "title": "现场赛事与投注流动资金",
        "info": "UPBet集团透过其专用解决方案供应商，为其授权使用者提供市场上最广泛的现场赛事选项，或在此方面与其他产品并驾齐驱。",
        "bgcdsk": "html/img/project/banner-bgcdsk.jpg",
        "bgcmbl": "html/img/project/banner-bgcmbl.jpg",
        "alt": ""
      },
      "se3": {
        "title": "目前提供的体育项目",
        "info": "我们目前提供下列体育项目，而且可依授权使用者的需求新增其他体育项目。",
        "card": [{
          "img": "html/img/project/se3-01.jpg",
          "alt": "",
          "title": "小型赛事",
          "listtitle": [{
            "title": "球类运动",
            "info": "足球.棒球.篮球.冰上曲棍球.旱地曲棍球.网球.彩球.排球.羽毛球.桌球.台球.高尔夫球.板球.手球.水球.美式足球.澳世足球.联盟式橄榄球.联合式橄榄球.草地滚球"
          }, {
            "title": "极限运动",
            "info": "赛车.拳击.帆船.综合格斗.冲浪.越野.高山滑雪.跳台滑雪.冬季两项.单车赛"
          }, {
            "title": "动物竞赛",
            "info": "赛狗.赛马"
          }, {
            "title": "电子竞赛",
            "info": "指数.飞镖.电子竞技.虚拟运动."
          }],
        }, {
          "img": "html/img/project/se3-02.jpg",
          "alt": "",
          "title": "大型赛事",
          "listtitle": [{
            "info": "足球.棒球.篮球.冰上曲棍球.旱地曲棍球.网球.彩球.排球.羽毛球.桌球.台球.高尔夫球.板球.手球.水球.美式足球.澳世足球.联盟式橄榄球.联合式橄榄球.草地滚球"
          }]
        }]
      },
      "se4": {
        "title": "亚洲版体育投注平台",
        "info": "对于想要在亚洲拓展其品牌触角的国际业者，UPBet集团透过经过认证的第三方解决方案供应商，提供完全托管的统包解决方案。针对业者的特定品牌 (或新品牌)，采用适合的外观与风格，并提供所有功能、投注类型及进军亚洲市场所需的后端工具，立即实施后即可使用。将国际知名品牌与提供亚洲主要体育投注同规模的现场赛事产品作结合，便可提高在世界规模最大、成长最快的线上投注市场中的成功机会。",
        "mainimg": `background-image: url('html/img/layout/bg.png');`
      },
      "se4Listtitle": "亚洲版平台与国际版投注平台皆具备的产品功能包括：管理使用者存取 ",
      "se4img": "html/img/project/se4__mblimg.jpg",
      "se4List": [{
        "icon": "html/img/project/se4-icon-01.png",
        "title": "风险管理工具"
      }, {
        "icon": "html/img/project/se4-icon-02.png",
        "title": "广泛的报表工具"
      }, {
        "icon": "html/img/project/se4-icon-03.png",
        "title": "玩家管理工具"
      }, {
        "icon": "html/img/project/se4-icon-04.png",
        "title": "赛事与产品控制"
      }, {
        "icon": "html/img/project/se4-icon-04.png",
        "title": "赛事与产品控制"
      }, {
        "icon": "html/img/project/se4-icon-04.png",
        "title": "赛事与产品控制"
      }, {
        "icon": "html/img/project/se4-icon-04.png",
        "title": "赛事与产品控制"
      }],
      "se5": [{
        "img": "html/img/project/se5-01.jpg",
        "alt": "",
        "title": "软体创新、开发和维护",
        "info": [{
          "msg": "UPBet集团不断升级并更新其核心平台及相关服务，授权使用者可以从直接从这些强化的功能中受益 (且不需负担额外费用)。"
        }, {
          "msg": "UPBet集团备有全年无休的专属团队，专门负责技术支援及客户支援，以确保随时满足授权使用者的需求。"
        }, {
          "msg": "如果有排定维护或系统升级，授权使用者也会适时收到通知，客户支援团队也会就定位，协助处理投注作废、比赛暂停、赔率显示有误或客户争议等问题。"
        }, {
          "msg": "如果有排定维护或系统升级，授权使用者也会适时收到通知，客户支援团队也会就定位，协助处理投注作废、比赛暂停、赔率显示有误或客户争议等问题。"
        }, {
          "msg": "如果有排定维护或系统升级，授权使用者也会适时收到通知，客户支援团队也会就定位，协助处理投注作废、比赛暂停、赔率显示有误或客户争议等问题。"
        }]
      }, {
        "img": "html/img/project/se5-02.jpg",
        "alt": "",
        "title": "软体创新、开发和维护",
        "info": [{
          "msg": "UPBet集团不断升级并更新其核心平台及相关服务，授权使用者可以从直接从这些强化的功能中受益 (且不需负担额外费用)。"
        }, {
          "msg": "UPBet集团备有全年无休的专属团队，专门负责技术支援及客户支援，以确保随时满足授权使用者的需求。"
        }, {
          "msg": "如果有排定维护或系统升级，授权使用者也会适时收到通知，客户支援团队也会就定位，协助处理投注作废、比赛暂停、赔率显示有误或客户争议等问题。"
        }]
      }, {
        "img": "html/img/project/se5-03.jpg",
        "alt": "",
        "title": "软体创新、开发和维护",
        "info": [{
          "msg": "UPBet集团不断升级并更新其核心平台及相关服务，授权使用者可以从直接从这些强化的功能中受益 (且不需负担额外费用)。"
        }, {
          "msg": "UPBet集团备有全年无休的专属团队，专门负责技术支援及客户支援，以确保随时满足授权使用者的需求。"
        }, {
          "msg": "如果有排定维护或系统升级，授权使用者也会适时收到通知，客户支援团队也会就定位，协助处理投注作废、比赛暂停、赔率显示有误或客户争议等问题。"
        }]
      }]
    };
  </script>
</head>
<!-- <img src="https://picsum.photos/1200/300/?blur=1"> -->

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->
    <!-- ======================= -->
    <!-- ======================= -->
    <section class="pro__se1">
      <img class="pro__se1bgc dsk" src="html/img/layout/grid-w.png">
      <div class="main__img" :style="pageData.se1.mainimg">
      </div>
      <div class="pro__se1txt">
        <h2 class="product__title">PRODUCT &<span>SERVICE<span></h2>
        <h3 class="title">
          <% pageData.se1.title %>
        </h3>
        <div class="info">
          <p v-html="pageData.se1.info"></p>
        </div>
      </div>
    </section>
    <!-- ======================= -->
    <!-- ======================= -->
    <!-- ======================= -->
    <section class="pro__se2">
      <img class="bgc" :src="pageData.se2.bgcdsk" :alt="pageData.se2.alt">
      <img class="bgc mbl" :src="pageData.se2.bgcmbl" alt="pageData.se2.alt">
      <div class="mask">
        <div class="txt__show">
          <h2 class="title">
            <% pageData.se2.title %>
          </h2>
          <p class="info" v-html="pageData.se2.info"></p>
        </div>
      </div>
    </section>
    <!-- ======================= -->
    <!-- ======================= -->
    <section class="pro__se3">
      <div class="se3__title">
        <div class="real__txt">
          <h2 class="title">
            <% pageData.se3.title %>
          </h2>
          <p class="info" v-html="pageData.se3.info">
          </p>
        </div>
      </div>
      <div class="se3__cards">
        <div class="se3__card" v-for="card in pageData.se3.card">
          <div class="card__img">
            <img :src="card.img" :alt="card.alt">
          </div>
          <div class="card__out">
            <div class="card__txt">
              <h2 class="title">
                <% card.title %>
              </h2>
              <ul class="list">
                <li v-for="item in card.listtitle"><span
                        class="item-title"><% item.title %></span>
          <span class="item-info"><% item.info %></span></li>
          </ul>
      </div>
      </div>
      </div>
      </div>
    </section>
    <!-- ======================= -->
    <!-- ======================= -->
    <section class="pro__se4">
      <img class="pro__se4bgc dsk" src="html/img/layout/grid-b.png">
      <div class="main__bgc2" :style="pageData.se1.mainimg">
      </div>
      <div class="pro__se4txt">
        <h2 class="product__title">
          <% pageData.se4.title %>
        </h2>
        <p class="title" v-html="pageData.se4.info"></p>
        <div class="info">
          <h3 class="info__title">
            <% pageData.se4Listtitle %>
          </h3>
          <ul class="items">
            <li class="info__item" v-for="item in pageData.se4List">
              <img :src="item.icon" alt="">
              <span>
                <% item.title %>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- <section class="pro__se4 mbl">
      <div class="mbl__img">
        <img :src="pageData.se4img" alt="">
      </div>
      <div class="mbl__txt">
        <div class="real__txt">
          <h2 class="product__title">
            <% pageData.se4.title %>
          </h2>
          <p class="title" v-html="pageData.se4.info"></p>
          <div class="info">
            <h3 class="info__title">
              <% pageData.se4Listtitle %>
            </h3>
            <ul class="items">
              <li class="info__item" v-for="item in pageData.se4List">
                <img :src="item.icon" alt="">
                <span>
                  <% item.title %>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section> -->

    <!-- ======================= -->
    <!-- ======================= -->
    <section class="pro__se5">
      <div class="swiper-container pro__se5-swiper-container">
        <div class="swiper-wrapper pro__se5-swiper-wrapper">
          <div class="swiper-slide pro__se5-swiper-slide" v-for="card in pageData.se5">
            <div class="slide__card">
              <div class="slide__img">
                <img :src="card.img" :alt="card.alt">
              </div>
              <div class="slide__txt">
                <div class="real__txt">
                  <h2 class="slide__title">
                    <% card.title %>
                  </h2>
                  <p class="slide__info" v-for="info in card.info" v-html="info.msg">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pro__se5btn mbl">
        <!-- Add Arrows -->
        <div class="swiper-button-prev pro__se5-prev"></div>
        <div class="swiper-button-next pro__se5-next"></div>
      </div>

    </section>
    <div id="anchorScrollDown">
    </div>

    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="html/js/product.min.js"></script>
</body>

</html>