<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/services.css" />

  <script>
    const pageData = {
      "se1": {
        "title": "客製化服務",
        "info1": "一站式解决方案，满足您的所有运营需求。<br>我们了解客户的不同需求，并对于及时提供符合成本效益解决方案的能力引以为傲。",
        "info2": "UPBet 平台提供大量可客制化的功能及显示选项，能让授权的使用者建立自己理想的平台，无论是独立的体育方案，或与他们自有的其他产品整合。",
        "mainimg": `background-image: url('html/img/layout/bg.png');`,
      },
      "se2": [{
        "info": "1经过精心设计，采用最新技术，可为玩家提供舒适感并满足游戏运营商的场地空间。我们最先进的机器和引人入胜的游戏共同提供了终极游戏体验。",
        "img": "html/img/services/slider-01.jpg",
        "alt": ""
      }, {
        "info": "2经过精心设计，采用最新技术，可为玩家提供舒适感并满足游戏运营商的场地空间。我们最先进的机器和引人入胜的游戏共同提供了终极游戏体验。",
        "img": "html/img/services/slider-01.jpg",
        "alt": ""
      }, {
        "info": "3经过精心设计，采用最新技术，可为玩家提供舒适感并满足游戏运营商的场地空间。我们最先进的机器和引人入胜的游戏共同提供了终极游戏体验。",
        "img": "html/img/services/slider-01.jpg",
        "alt": ""
      }, {
        "info": "4经过精心设计，采用最新技术，可为玩家提供舒适感并满足游戏运营商的场地空间。我们最先进的机器和引人入胜的游戏共同提供了终极游戏体验。",
        "img": "html/img/services/slider-01.jpg",
        "alt": ""
      }]
    };
  </script>
</head>

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->

    <section class="ser__se1">
      <!-- <img src="html/img/services/bgc.jpg" alt=""> -->
      <img class="ab__se1bgc dsk" src="html/img/layout/grid-w.png">
      <div class="main__img" :style="pageData.se1.mainimg">
      </div>
      <div class="txt__area">
        <div class="ser__se1txt">
          <h2 class="service__title">CUSTOMIZED<span>SERVICES<span></h2>
          <h3 class="title">
            <% pageData.se1.title %>
          </h3>
          <div class="info">
            <p v-html="pageData.se1.info1"></p>
            <p v-html="pageData.se1.info2"></p>
          </div>
        </div>
    </section>


    <section class="ser__se2">
      <img class="ser__se2bgc dsk" src="html/img/layout/grid-b.png">
      <div class="main__img2"></div>

      <div class="ser__arrow">
        <!-- 按鈕位置 -->
        <!-- Add Pagination -->
        <div class="swiper-pagination ser-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-prev ser-prev"></div>
        <div class="swiper-button-next ser-next"></div>
      </div>
      <div class="swiper-container ser_swiper-container">
        <div class="swiper-wrapper ser_swiper-wrapper">
          <div class="swiper-slide ser_swiper-slide"
               v-for="card in pageData.se2">
            <div class="ser__card">
              <div class="slide__img">
                <img :src="card.img" :alt="card.alt">
              </div>
              <div class="slide__txt">
                <p v-html="card.info">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="anchorScrollDown"></div>

    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="html/js/services.min.js"></script>
</body>

</html>